axelor-bank-payment/src/main/resources/xsd/ebics/ebics_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:esig="http://www.ebics.org/S001" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ebics="http://www.ebics.org/H003" targetNamespace="http://www.ebics.org/H003" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<import namespace="http://www.ebics.org/S001" schemaLocation="ebics_signature.xsd"/>
	<import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<annotation>
		<documentation xml:lang="de">ebics_types.xsd enthält einfache Typdefinitionen für EBICS.</documentation>
	</annotation>
	<simpleType name="ProtocolVersionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für EBICS-Versionsnummern.</documentation>
		</annotation>
		<restriction base="token">
			<length value="4"/>
			<pattern value="H\d{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="ProtocolRevisionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für EBICS-Revisionsnummern.</documentation>
		</annotation>
		<restriction base="positiveInteger">
			<maxInclusive value="99"/>
		</restriction>
	</simpleType>
	<simpleType name="EncryptionVersionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Versionsnummern zur Verschlüsselung.</documentation>
		</annotation>
		<restriction base="token">
			<pattern value="E\d{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="SignatureVersionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Versionsnummern zur Elektronischen Unterschrift (EU).</documentation>
		</annotation>
		<restriction base="token">
			<length value="4"/>
			<pattern value="A\d{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="AuthenticationVersionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Versionsnummern zur Authentifikation.</documentation>
		</annotation>
		<restriction base="token">
			<length value="4"/>
			<pattern value="X\d{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="CryptoVersionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Versionsnummern zur Verschlüsselung, Signatur und Authentifkation.</documentation>
		</annotation>
		<union memberTypes="ebics:EncryptionVersionType ebics:SignatureVersionType ebics:AuthenticationVersionType"/>
	</simpleType>
	<simpleType name="CurrencyBaseType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Währungen (Grundtyp).</documentation>
		</annotation>
		<restriction base="token">
			<length value="3"/>
			<pattern value="[A-Z]{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="CurrencyCode">
		<annotation>
			<documentation xml:lang="de">dreistelliger Währungscode gemäß ISO 4217.</documentation>
		</annotation>
		<restriction base="ebics:CurrencyBaseType">
			<length value="3"/>
			<enumeration value="AFN">
				<annotation>
					<documentation xml:lang="de">Afghanistan: Afghani</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ALL">
				<annotation>
					<documentation xml:lang="de">Albanien: Lek</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AMD">
				<annotation>
					<documentation xml:lang="de">Armenien: Dram</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ANG">
				<annotation>
					<documentation xml:lang="de">Niederländische Antillen: Gulden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AOA">
				<annotation>
					<documentation xml:lang="de">Angola: Kwanza</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ARS">
				<annotation>
					<documentation xml:lang="de">Argentinien: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AUD">
				<annotation>
					<documentation xml:lang="de">Australien: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AWG">
				<annotation>
					<documentation xml:lang="de">Aruba: Florin</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AZM">
				<annotation>
					<documentation xml:lang="de">Aserbaidschan: Manat</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BAM">
				<annotation>
					<documentation xml:lang="de">Bosnien und Herzegowina: Konvertible Mark</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BBD">
				<annotation>
					<documentation xml:lang="de">Barbados: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BDT">
				<annotation>
					<documentation xml:lang="de">Bangladesch: Taka</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BGN">
				<annotation>
					<documentation xml:lang="de">Bulgarien: Lew</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BHD">
				<annotation>
					<documentation xml:lang="de">Bahrain: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BMD">
				<annotation>
					<documentation xml:lang="de">Bermuda: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BND">
				<annotation>
					<documentation xml:lang="de">Brunei: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BOB">
				<annotation>
					<documentation xml:lang="de">Bolivien: Boliviano</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BRL">
				<annotation>
					<documentation xml:lang="de">Brasilien: Real</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BSD">
				<annotation>
					<documentation xml:lang="de">Bahamas: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BTN">
				<annotation>
					<documentation xml:lang="de">Bhutan: Ngultrum</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BWP">
				<annotation>
					<documentation xml:lang="de">Botswana: Pula</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BYR">
				<annotation>
					<documentation xml:lang="de">Weißrussland (Belarus): Rubel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BZD">
				<annotation>
					<documentation xml:lang="de">Belize: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CAD">
				<annotation>
					<documentation xml:lang="de">Kanada: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CDF">
				<annotation>
					<documentation xml:lang="de">Demokratische Republik Kongo: Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CHF">
				<annotation>
					<documentation xml:lang="de">Schweiz: Franken</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CLP">
				<annotation>
					<documentation xml:lang="de">Chile: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CNY">
				<annotation>
					<documentation xml:lang="de">China (Volksrepublik): Renminbi Yuan</documentation>
				</annotation>
			</enumeration>
			<enumeration value="COP">
				<annotation>
					<documentation xml:lang="de">Kolumbien: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CRC">
				<annotation>
					<documentation xml:lang="de">Costa Rica: Colón</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CSD">
				<annotation>
					<documentation xml:lang="de">Serbien: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CUP">
				<annotation>
					<documentation xml:lang="de">Kuba: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CVE">
				<annotation>
					<documentation xml:lang="de">Kap Verde: Escudo</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CYP">
				<annotation>
					<documentation xml:lang="de">Zypern (griechischer Teil): Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CZK">
				<annotation>
					<documentation xml:lang="de">Tschechien: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DJV">
				<annotation>
					<documentation xml:lang="de">Dschibuti: Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DKK">
				<annotation>
					<documentation xml:lang="de">Dänemark: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DOP">
				<annotation>
					<documentation xml:lang="de">Dominikanische Republik: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DZD">
				<annotation>
					<documentation xml:lang="de">Algerien: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ECS">
				<annotation>
					<documentation xml:lang="de">Ecuador (bis 2000): Sucre</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EEK">
				<annotation>
					<documentation xml:lang="de">Estland: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EGP">
				<annotation>
					<documentation xml:lang="de">Ägypten: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ETB">
				<annotation>
					<documentation xml:lang="de">Äthiopien: Birr</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EUR">
				<annotation>
					<documentation xml:lang="de">Europäische Währungsunion: Euro</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FJD">
				<annotation>
					<documentation xml:lang="de">Fidschi: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FKP">
				<annotation>
					<documentation xml:lang="de">Falklandinseln: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GBP">
				<annotation>
					<documentation xml:lang="de">Vereinigtes Königreich: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GEL">
				<annotation>
					<documentation xml:lang="de">Georgien: Lari</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GHC">
				<annotation>
					<documentation xml:lang="de">Ghana: Cedi</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GIP">
				<annotation>
					<documentation xml:lang="de">Gibraltar: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GMD">
				<annotation>
					<documentation xml:lang="de">Gambia: Dalasi</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GNF">
				<annotation>
					<documentation xml:lang="de">Guinea: Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GTQ">
				<annotation>
					<documentation xml:lang="de">Guatemala: Quetzal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GYD">
				<annotation>
					<documentation xml:lang="de">Guyana: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HKD">
				<annotation>
					<documentation xml:lang="de">Hongkong: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HNL">
				<annotation>
					<documentation xml:lang="de">Honduras: Lempira</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HRK">
				<annotation>
					<documentation xml:lang="de">Kroatien: Kuna</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HTG">
				<annotation>
					<documentation xml:lang="de">Haiti: Gourde</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HUF">
				<annotation>
					<documentation xml:lang="de">Ungarn: Forint</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IDR">
				<annotation>
					<documentation xml:lang="de">Indonesien: Rupiah</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ILS">
				<annotation>
					<documentation xml:lang="de">Israel: Schekel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INR">
				<annotation>
					<documentation xml:lang="de">Indien: Rupie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IQD">
				<annotation>
					<documentation xml:lang="de">Irak: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IRR">
				<annotation>
					<documentation xml:lang="de">Iran: Rial</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ISK">
				<annotation>
					<documentation xml:lang="de">Island: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="JMD">
				<annotation>
					<documentation xml:lang="de">Jamaika: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="JOD">
				<annotation>
					<documentation xml:lang="de">Jordanien: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="JPY">
				<annotation>
					<documentation xml:lang="de">Japan: Yen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KES">
				<annotation>
					<documentation xml:lang="de">Kenia: Schilling</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KGS">
				<annotation>
					<documentation xml:lang="de">Kirgisistan: Som</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KHR">
				<annotation>
					<documentation xml:lang="de">Kambodscha: Riel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KMF">
				<annotation>
					<documentation xml:lang="de">Komoren: Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KPW">
				<annotation>
					<documentation xml:lang="de">Nordkorea: Won</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KRW">
				<annotation>
					<documentation xml:lang="de">Südkorea: Won</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KWD">
				<annotation>
					<documentation xml:lang="de">Kuwait: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KYD">
				<annotation>
					<documentation xml:lang="de">Kaimaninseln: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KZT">
				<annotation>
					<documentation xml:lang="de">Kasachstan: Tenge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LAK">
				<annotation>
					<documentation xml:lang="de">Laos: Kip</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LBP">
				<annotation>
					<documentation xml:lang="de">Libanon: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LKR">
				<annotation>
					<documentation xml:lang="de">Sri Lanka: Rupie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LRD">
				<annotation>
					<documentation xml:lang="de">Liberia: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LSL">
				<annotation>
					<documentation xml:lang="de">Lesotho: Loti</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LTL">
				<annotation>
					<documentation xml:lang="de">Litauen: Litas</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LVL">
				<annotation>
					<documentation xml:lang="de">Lettland: Lats</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LYD">
				<annotation>
					<documentation xml:lang="de">Libyen: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MAD">
				<annotation>
					<documentation xml:lang="de">Marokko: Dirham</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MDL">
				<annotation>
					<documentation xml:lang="de">Moldawien: Leu</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MGF">
				<annotation>
					<documentation xml:lang="de">Madagaskar: Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MKD">
				<annotation>
					<documentation xml:lang="de">Mazedonien: Denar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MMK">
				<annotation>
					<documentation xml:lang="de">Myanmar: Kyat</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MNT">
				<annotation>
					<documentation xml:lang="de">Mongolei: Tugrik</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MOP">
				<annotation>
					<documentation xml:lang="de">Macau: Pataca</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MRO">
				<annotation>
					<documentation xml:lang="de">Mauretanien: Ouguiya</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MTL">
				<annotation>
					<documentation xml:lang="de">Malta: Lira</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MUR">
				<annotation>
					<documentation xml:lang="de">Mauritius: Rupie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MVR">
				<annotation>
					<documentation xml:lang="de">Malediven: Rufiyaa</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MWK">
				<annotation>
					<documentation xml:lang="de">Malawi: Kwacha</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MXN">
				<annotation>
					<documentation xml:lang="de">Mexiko: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MYR">
				<annotation>
					<documentation xml:lang="de">Malaysia: Ringgit</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MZM">
				<annotation>
					<documentation xml:lang="de">Mosambik: Metical</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NAD">
				<annotation>
					<documentation xml:lang="de">Namibia: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NGN">
				<annotation>
					<documentation xml:lang="de">Nigeria: Naira</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NIO">
				<annotation>
					<documentation xml:lang="de">Nicaragua: Cordoba Oro</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOK">
				<annotation>
					<documentation xml:lang="de">Norwegen: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NPR">
				<annotation>
					<documentation xml:lang="de">Nepal: Rupie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NZD">
				<annotation>
					<documentation xml:lang="de">Neuseeland: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OMR">
				<annotation>
					<documentation xml:lang="de">Oman: Rial</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PAB">
				<annotation>
					<documentation xml:lang="de">Panama: Balboa</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PEN">
				<annotation>
					<documentation xml:lang="de">Peru: Nuevo Sol</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PGK">
				<annotation>
					<documentation xml:lang="de">Papua-Neuguinea: Kina</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PHP">
				<annotation>
					<documentation xml:lang="de">Philippinen: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PKR">
				<annotation>
					<documentation xml:lang="de">Pakistan: Rupie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PLN">
				<annotation>
					<documentation xml:lang="de">Polen: Zloty</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PYG">
				<annotation>
					<documentation xml:lang="de">Paraguay: Guaraní</documentation>
				</annotation>
			</enumeration>
			<enumeration value="QAR">
				<annotation>
					<documentation xml:lang="de">Katar: Riyal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ROL">
				<annotation>
					<documentation xml:lang="de">Rumänien: Leu</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RUB">
				<annotation>
					<documentation xml:lang="de">Russland: Rubel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RWF">
				<annotation>
					<documentation xml:lang="de">Ruanda: Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SAR">
				<annotation>
					<documentation xml:lang="de">Saudi-Arabien: Riyal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SBD">
				<annotation>
					<documentation xml:lang="de">Salomonen: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SCR">
				<annotation>
					<documentation xml:lang="de">Seychellen: Rupie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SDD">
				<annotation>
					<documentation xml:lang="de">Sudan: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SEK">
				<annotation>
					<documentation xml:lang="de">Schweden: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SGD">
				<annotation>
					<documentation xml:lang="de">Singapur: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SHP">
				<annotation>
					<documentation xml:lang="de">St. Helena: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SIT">
				<annotation>
					<documentation xml:lang="de">Slowenien: Tolar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SKK">
				<annotation>
					<documentation xml:lang="de">Slowakei: Krone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SLL">
				<annotation>
					<documentation xml:lang="de">Sierra Leone: Leone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SOS">
				<annotation>
					<documentation xml:lang="de">Somalia: Schilling</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SRD">
				<annotation>
					<documentation xml:lang="de">Suriname: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="STD">
				<annotation>
					<documentation xml:lang="de">São Tomé und Príncipe: Dobra</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SVC">
				<annotation>
					<documentation xml:lang="de">El Salvador: Colón</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SYP">
				<annotation>
					<documentation xml:lang="de">Syrien: Pfund</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SZL">
				<annotation>
					<documentation xml:lang="de">Swasiland: Lilangeni</documentation>
				</annotation>
			</enumeration>
			<enumeration value="THB">
				<annotation>
					<documentation xml:lang="de">Thailand: Baht</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TJS">
				<annotation>
					<documentation xml:lang="de">Tadschikistan: Somoni</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TMM">
				<annotation>
					<documentation xml:lang="de">Turkmenistan: Manat</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TND">
				<annotation>
					<documentation xml:lang="de">Tunesien: Dinar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TOP">
				<annotation>
					<documentation xml:lang="de">Tonga: Pa'anga</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TRL">
				<annotation>
					<documentation xml:lang="de">Türkei: Lira</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TRY">
				<annotation>
					<documentation xml:lang="de">Türkei: Neue Lira (ab 2005)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TTD">
				<annotation>
					<documentation xml:lang="de">Trinidad und Tobago: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TWD">
				<annotation>
					<documentation xml:lang="de">Taiwan: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TZS">
				<annotation>
					<documentation xml:lang="de">Tansania: Schilling</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UAH">
				<annotation>
					<documentation xml:lang="de">Ukraine: Hrywnja</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UGX">
				<annotation>
					<documentation xml:lang="de">Uganda: Shilling</documentation>
				</annotation>
			</enumeration>
			<enumeration value="USD">
				<annotation>
					<documentation xml:lang="de">USA: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UYU">
				<annotation>
					<documentation xml:lang="de">Uruguay: Peso</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UZS">
				<annotation>
					<documentation xml:lang="de">Usbekistan: Sum</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VEB">
				<annotation>
					<documentation xml:lang="de">Venezuela: Bolivar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VND">
				<annotation>
					<documentation xml:lang="de">Vietnam: Dong</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VUV">
				<annotation>
					<documentation xml:lang="de">Vanuatu: Vatu</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WST">
				<annotation>
					<documentation xml:lang="de">Samoa: Tala</documentation>
				</annotation>
			</enumeration>
			<enumeration value="XAF">
				<annotation>
					<documentation xml:lang="de">Zentralafrikanische Wirtschafts- und Währungsunion: CFA-Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="XCD">
				<annotation>
					<documentation xml:lang="de">Ostkaribische Währungsunion: Dollar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="XOF">
				<annotation>
					<documentation xml:lang="de">Westafrikanische Wirtschafts- und Währungsunion: CFA-Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="XPF">
				<annotation>
					<documentation xml:lang="de">Neukaledonien: CFP-Franc</documentation>
				</annotation>
			</enumeration>
			<enumeration value="XTS">
				<annotation>
					<documentation xml:lang="de">Spezialcode für Testzwecke; keine existierende Währung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="XXX">
				<annotation>
					<documentation xml:lang="de">keine Währung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="YER">
				<annotation>
					<documentation xml:lang="de">Jemen: Rial</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ZAR">
				<annotation>
					<documentation xml:lang="de">Südafrika: Rand</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ZMK">
				<annotation>
					<documentation xml:lang="de">Sambia: Kwacha</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ZWD">
				<annotation>
					<documentation xml:lang="de">Simbabwe: Dollar</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="AmountValueType">
		<annotation>
			<documentation xml:lang="de">Datentyp für einen Betragswert (ohne Währung).</documentation>
		</annotation>
		<restriction base="decimal">
			<totalDigits value="24"/>
			<fractionDigits value="4"/>
		</restriction>
	</simpleType>
	<complexType name="AmountType">
		<annotation>
			<documentation xml:lang="de">Datentyp für einen Betrag inkl. Währungscode-Attribut (Default = "EUR").</documentation>
		</annotation>
		<simpleContent>
			<extension base="ebics:AmountValueType">
				<attribute name="Currency" type="ebics:CurrencyBaseType" use="optional" default="EUR">
					<annotation>
						<documentation xml:lang="de">Währungscode, Default="EUR".</documentation>
						<documentation xml:lang="en">Currency code, default setting is "EUR".</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="TransactionIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Transaktions-ID.</documentation>
		</annotation>
		<restriction base="hexBinary">
			<length value="16"/>
		</restriction>
	</simpleType>
	<simpleType name="NonceType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Nonces.</documentation>
		</annotation>
		<restriction base="hexBinary">
			<length value="16"/>
		</restriction>
	</simpleType>
	<simpleType name="InstituteIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Instituts-ID.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="HostIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Host-ID.</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="35"/>
		</restriction>
	</simpleType>
	<simpleType name="ProductType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Kundenprodukt-ID.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="LanguageType">
		<annotation>
			<documentation xml:lang="de">Datentyp für das Sprachkennzeichen des Kundenprodukts.</documentation>
		</annotation>
		<restriction base="language">
			<length value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderTBaseType">
		<annotation>
			<documentation xml:lang="de">Datentyp für allgemeine Auftragsarten (Grundtyp).</documentation>
		</annotation>
		<restriction base="token">
			<length value="3"/>
			<pattern value="[A-Z0-9]{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderTListType">
		<annotation>
			<documentation xml:lang="de">Listentyp für allgemeine Auftragsarten.</documentation>
		</annotation>
		<list itemType="ebics:OrderTBaseType"/>
	</simpleType>
	<simpleType name="OrderTType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zulässige Auftragsarten im EBICS-Kontext.</documentation>
		</annotation>
		<restriction base="ebics:OrderTBaseType">
			<length value="3"/>
			<enumeration value="HSA">
				<annotation>
					<documentation xml:lang="de">Senden der Public Keys für Authentifikation und Verschlüsselung, bankfachlich signiert mit FTAM-Signaturschlüssel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HIA">
				<annotation>
					<documentation xml:lang="de">Senden der Public Keys zur Authentifikation und zur Verschlüsselung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HPB">
				<annotation>
					<documentation xml:lang="de">Abholen der Public Keys der Bank</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HCA">
				<annotation>
					<documentation xml:lang="de">Ändern der Public Keys zur Authentifikation und zur Verschlüsselung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HPD">
				<annotation>
					<documentation xml:lang="de">Abholen Bankparameter für internetbasierten Standard</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVU">
				<annotation>
					<documentation xml:lang="de">Abholen VEU Übersicht</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVD">
				<annotation>
					<documentation xml:lang="de">Abholen VEU Auftragsdaten (Daten-trägerbegleitzettel)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVT">
				<annotation>
					<documentation xml:lang="de">Abholen VEU Auftragsdaten ( Transakti-onsdetails gemäß Parametervorgabe)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVE">
				<annotation>
					<documentation xml:lang="de">Senden EU zu bestehendem VEU-Auftrag</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVS">
				<annotation>
					<documentation xml:lang="de">Senden Stornierung für bestehenden VEU-Auftrag</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HKD">
				<annotation>
					<documentation xml:lang="de">Abholen Konfigurationsdaten des Teilnehmers</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HAA">
				<annotation>
					<documentation xml:lang="de">Abholen Übersicht zu abrufbaren Aufträgen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVU">
				<annotation>
					<documentation xml:lang="de">VEU-Übersicht abholen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVD">
				<annotation>
					<documentation xml:lang="de">VEU-Status abrufen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVT">
				<annotation>
					<documentation xml:lang="de">VEU-Transaktion-Details abrufen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVE">
				<annotation>
					<documentation xml:lang="de">EU hinzufügen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HVS">
				<annotation>
					<documentation xml:lang="de">VEU-Stornierung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AAE">
				<annotation>
					<documentation xml:lang="de">Senden Importakkreditiv Änderung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AEA">
				<annotation>
					<documentation xml:lang="de">Senden Exportakkreditive</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AIA">
				<annotation>
					<documentation xml:lang="de">Senden Import-Akkreditive Avisierung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AKA">
				<annotation>
					<documentation xml:lang="de">Abholen Import-Akkreditive</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AWV">
				<annotation>
					<documentation xml:lang="de">AWV-Meldung senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AZM">
				<annotation>
					<documentation xml:lang="de">AZV im Magnetbandformat senden (Satzlänge variabel)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AZV">
				<annotation>
					<documentation xml:lang="de">AZV im Diskettenformat senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AZ2">
				<annotation>
					<documentation xml:lang="de">AZV im Magnetbandformat senden (Satzlängenfeld 2 Bytes)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AZ4">
				<annotation>
					<documentation xml:lang="de">AZV im Magnetbandformat senden (Satzlängenfeld 4 Bytes)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DDG">
				<annotation>
					<documentation xml:lang="de">Abholen Devisenhandelsbestätigung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DHB">
				<annotation>
					<documentation xml:lang="de">Senden Devisenhandelsbestätigung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DTE">
				<annotation>
					<documentation xml:lang="de">Eilauftrag (IZV im DTAUS0-Format) senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DTI">
				<annotation>
					<documentation xml:lang="de">IZV-Datei abholen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DTM">
				<annotation>
					<documentation xml:lang="de">MCV-Datei abholen (Format analog MCV)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DTV">
				<annotation>
					<documentation xml:lang="de">Zahlungsverkehrsdateien von Service-Rechenzentren senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DT2">
				<annotation>
					<documentation xml:lang="de">MC2-Datei abholen (Format analog MC2)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DT4">
				<annotation>
					<documentation xml:lang="de">MC4-Datei abholen (Format analog MC4)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EAB">
				<annotation>
					<documentation xml:lang="de">Exportakkreditive abholen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ECS">
				<annotation>
					<documentation xml:lang="de">Senden electronic-cash Lastschriftdatei</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EDC">
				<annotation>
					<documentation xml:lang="de">Senden Maestro-Lastschriftdatei</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EEA">
				<annotation>
					<documentation xml:lang="de">EDIFACT abholen ASCII</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EEZ">
				<annotation>
					<documentation xml:lang="de">EDIFACT abholen EBCDIC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EIB">
				<annotation>
					<documentation xml:lang="de">Ausführungsanzeige (Exportinkasso) Bank an Kunde abholen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EIK">
				<annotation>
					<documentation xml:lang="de">Senden Exportinkassi</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESA">
				<annotation>
					<documentation xml:lang="de">EDIFACT senden ASCII</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESM">
				<annotation>
					<documentation xml:lang="de">EU-Standardüberweisung (Zahlungsart 13) im Magnetbandformat (Satzlängenfeld 4 Bytes)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESR">
				<annotation>
					<documentation xml:lang="de">Einreichung von EDIFACT-Lastschriften</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESZ">
				<annotation>
					<documentation xml:lang="de">EDIFACT senden EBCDIC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESU">
				<annotation>
					<documentation xml:lang="de">EU-Standardüberweisung (Zahlungsart 13)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EUE">
				<annotation>
					<documentation xml:lang="de">Taggleiche grenzüberschreitende Euro-Eilzahlung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GAB">
				<annotation>
					<documentation xml:lang="de">Abholen Garantien</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GAK">
				<annotation>
					<documentation xml:lang="de">Senden Garantien</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GKT">
				<annotation>
					<documentation xml:lang="de">GeldKarte-Umsatz senden (Datenaufbau gemäß GeldKarte-Spezifikation)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IDD">
				<annotation>
					<documentation xml:lang="de">Internationale Lastschriften</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IIB">
				<annotation>
					<documentation xml:lang="de">Abholen Importinkassi</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IIK">
				<annotation>
					<documentation xml:lang="de">Senden Importinkassi</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INT">
				<annotation>
					<documentation xml:lang="de">Internationaler Zahlungsverkehr</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IZG">
				<annotation>
					<documentation xml:lang="de">Inlandszahlungsverkehrsauftrag senden (nur Gutschriften)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IZL">
				<annotation>
					<documentation xml:lang="de">Inlandszahlungsverkehrsauftrag senden (nur Lastschriften)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IZV">
				<annotation>
					<documentation xml:lang="de">Inlandszahlungsverkehrsauftrag senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MAO">
				<annotation>
					<documentation xml:lang="de">Abholen Magnetband-Datei aus optischer Beleglesung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MCV">
				<annotation>
					<documentation xml:lang="de">Senden IZV-Magnetbandformat (Satzlängenfeld 4 Bytes)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MC2">
				<annotation>
					<documentation xml:lang="de">Senden IZV-Magnetbandformat (Satzlängenfeld 2 Bytes)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MC4">
				<annotation>
					<documentation xml:lang="de">Senden IZV-Magnetbandformat (Satzlänge variabel)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="POZ">
				<annotation>
					<documentation xml:lang="de">Senden POZ-Datei</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RDT">
				<annotation>
					<documentation xml:lang="de">Rücklastschrift an Kunde</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RFT">
				<annotation>
					<documentation xml:lang="de">Request for Transfer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="STA">
				<annotation>
					<documentation xml:lang="de">Abholen Swift-Tagesauszüge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VMK">
				<annotation>
					<documentation xml:lang="de">Abholen kurzfristige Vormerkposten</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WPA">
				<annotation>
					<documentation xml:lang="de">Abholen Wertpapierabrechnung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WPB">
				<annotation>
					<documentation xml:lang="de">Abholen Wertpapierausführungsanzeige</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WPC">
				<annotation>
					<documentation xml:lang="de">Abholen Depotaufstellung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WPD">
				<annotation>
					<documentation xml:lang="de">Abholen sonstige WP-Umsätze</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INI">
				<annotation>
					<documentation xml:lang="de">Initialisierung der bankfachlichen EU des Teilnehmers.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PTK">
				<annotation>
					<documentation xml:lang="de">Abholen Kundenprotokoll</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PUB">
				<annotation>
					<documentation xml:lang="de">Senden Public Key zur Unterschriftenverifizierung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HCA">
				<annotation>
					<documentation xml:lang="de">Änderung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SPR">
				<annotation>
					<documentation xml:lang="de">Sperren der Zugangsberechtigung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VPB">
				<annotation>
					<documentation xml:lang="de">Abholen Public Key der Bank zur Verschlüsselung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FIN">
				<annotation>
					<documentation xml:lang="de">EDIFACT-FINPAY senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IZS">
				<annotation>
					<documentation xml:lang="de">Informationen von Zentralstellen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SSP">
				<annotation>
					<documentation xml:lang="de">ec-Karten-Sperrdatei</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ATA">
				<annotation>
					<documentation xml:lang="de">Teilausnutzung Importakkreditiv (Kreditinstitut an Kunde)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BKA">
				<annotation>
					<documentation xml:lang="de">Auftragsart für elektronische Kontoauszüge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BZK">
				<annotation>
					<documentation xml:lang="de">Barzahlungskarte</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DKI">
				<annotation>
					<documentation xml:lang="de">Devisenkursinformationen abholen (Euro)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DMI">
				<annotation>
					<documentation xml:lang="de">Abholen Devisenmarktinformationen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DSW">
				<annotation>
					<documentation xml:lang="de">Abholen Devisenswapinformationen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESG">
				<annotation>
					<documentation xml:lang="de">ESG-Datei für Elektronische Zweitunterschrift abholen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ESP">
				<annotation>
					<documentation xml:lang="de">ESP-Datei für Elektronische Zweitunterschrift senden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FTB">
				<annotation>
					<documentation xml:lang="de">Abholen/Senden beliebige Datei</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FTD">
				<annotation>
					<documentation xml:lang="de">Freie Textdatei senden/abholen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IBK">
				<annotation>
					<documentation xml:lang="de">Abholen Institutsbestätigungsdatei (Komplettbestand)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IBW">
				<annotation>
					<documentation xml:lang="de">Abholen Institutsbestätigungsdatei (Komplettbestand weitere Datei)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IBU">
				<annotation>
					<documentation xml:lang="de">Abholen Institutsbestätigungsdatei (tägliches Update)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IKK">
				<annotation>
					<documentation xml:lang="de">Senden Institutskonten (Komplettbestand begrenzt auf 170 MB)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IKU">
				<annotation>
					<documentation xml:lang="de">Senden Institutskonten (tägliches Update)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IKW">
				<annotation>
					<documentation xml:lang="de">Senden Institutskonten (Komplettbestand weitere Datei)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KTH">
				<annotation>
					<documentation xml:lang="de">KTOHIN: Automatisiertes Verfahren für die Änderung von Kontonummern und Bankleitzahlen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KTR">
				<annotation>
					<documentation xml:lang="de">KTORUECK: Automatisiertes Verfahren für die Änderung von Kontonummern und Bankleitzahlen </documentation>
				</annotation>
			</enumeration>
			<enumeration value="KKZ">
				<annotation>
					<documentation xml:lang="de">Kontenkonzentration und Saldenausgleich</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TST">
				<annotation>
					<documentation xml:lang="de">Senden/Abholen Testdatei (ASCII)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UPD">
				<annotation>
					<documentation xml:lang="de">Updates abholen</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="OrderIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Auftragsnummer lt. DFÜ-Abkommen.</documentation>
		</annotation>
		<restriction base="token">
			<length value="4"/>
			<pattern value="[A-Z][A-Z0-9]{3}"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderAttributeBaseType">
		<annotation>
			<documentation xml:lang="de">Datentyp für ein einzelnes Auftragsattributkennzeichen (Grundtyp).</documentation>
		</annotation>
		<restriction base="token">
			<length value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderAttributeType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsattributkennzeichen gemäß DFÜ-Abkommen.</documentation>
		</annotation>
		<restriction base="ebics:OrderAttributeBaseType">
			<enumeration value="OZHNN">
				<annotation>
					<documentation xml:lang="de">Auftragsdaten mit Unterschrift, ZIP-komprimiert, hybrid verschlüsselt</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UZHNN">
				<annotation>
					<documentation xml:lang="de">Unterschrift, ZIP-komprimiert, hybrid verschlüsselt</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DZHNN">
				<annotation>
					<documentation xml:lang="de">Auftragsdaten ohne Unterschrift, ZIP-komprimiert, hybrid verschlüsselt</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="SecurityMediumType">
		<annotation>
			<documentation xml:lang="de">Datentyp für das Sicherheitsmedium.</documentation>
		</annotation>
		<restriction base="string">
			<length value="4"/>
			<pattern value="\d{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="SegmentNumberType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Segmentnummer.</documentation>
		</annotation>
		<restriction base="positiveInteger">
			<totalDigits value="10"/>
		</restriction>
	</simpleType>
	<simpleType name="NumSegmentsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Gesamtsegmentanzahl.</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<totalDigits value="10"/>
		</restriction>
	</simpleType>
	<simpleType name="NumOrderInfosType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Gesamtanzahl der Einzelauftraginfos.</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<totalDigits value="10"/>
		</restriction>
	</simpleType>
	<simpleType name="TransactionPhaseType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Transaktionsphase.</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Initialisation">
				<annotation>
					<documentation xml:lang="de">Transaktionsinitialisierung</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Transfer">
				<annotation>
					<documentation xml:lang="de">Auftragsdatentransfer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Receipt">
				<annotation>
					<documentation xml:lang="de">Quittungstransfer</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="TimestampType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Zeitstempel.</documentation>
		</annotation>
		<restriction base="dateTime"/>
	</simpleType>
	<simpleType name="DateType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Datumswerte.</documentation>
		</annotation>
		<restriction base="date"/>
	</simpleType>
	<simpleType name="UserIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Teilnehmer-ID.</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="35"/>
			<pattern value="[a-zA-Z0-9,=]{1,35}"/>
		</restriction>
	</simpleType>
	<simpleType name="PartnerIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Kunden-ID.</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="35"/>
			<pattern value="[a-zA-Z0-9,=]{1,35}"/>
		</restriction>
	</simpleType>
	<simpleType name="AccountIDType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Konten-ID.</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="64"/>
		</restriction>
	</simpleType>
	<simpleType name="AccountNumberType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Kontonummer (national/international).</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="40"/>
			<pattern value="\d{3,10}|([A-Z]{2}\d{2}[A-Za-z0-9]{3,30})"/>
		</restriction>
	</simpleType>
	<simpleType name="BankCodeType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Bankleitzahl (national/international).</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="11"/>
			<pattern value="\d{8}|([A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?)"/>
		</restriction>
	</simpleType>
	<simpleType name="BankCodePrefixType">
		<annotation>
			<documentation xml:lang="de">Datentyp für ein nationales BLZ-Präfix.</documentation>
		</annotation>
		<restriction base="token">
			<length value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="NationalAccountNumberType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Kontonummer (freies Format).</documentation>
		</annotation>
		<restriction base="normalizedString">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="NationalBankCodeType">
		<annotation>
			<documentation xml:lang="de">Datentyp für eine Bankleitzahl (freies Format).</documentation>
		</annotation>
		<restriction base="normalizedString">
			<maxLength value="30"/>
		</restriction>
	</simpleType>
	<simpleType name="AccountHolderType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Namen des Kontoinhabers.</documentation>
		</annotation>
		<restriction base="normalizedString"/>
	</simpleType>
	<simpleType name="AccountDescriptionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Kontobeschreibung.</documentation>
		</annotation>
		<restriction base="normalizedString"/>
	</simpleType>
	<complexType name="AccountType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Kontoinformationen.</documentation>
		</annotation>
		<sequence>
			<choice maxOccurs="2">
				<element name="AccountNumber">
					<annotation>
						<documentation xml:lang="de">Kontonummer (deutsches Format und/oder international als IBAN).</documentation>
						<documentation xml:lang="en">Account number (German format and/or international=IBAN).</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:AccountNumberType">
								<attribute name="international" type="boolean" use="optional" default="false">
									<annotation>
										<documentation xml:lang="de">Ist die Kontonummer im deutschen Format (international=false) oder im internationalen Format (international=true, IBAN) angegeben?</documentation>
										<documentation xml:lang="en">Is the account number specified using the national=German or the international=IBAN format?</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<element name="NationalAccountNumber">
					<annotation>
						<documentation xml:lang="de">Kontonummer im freien Format.</documentation>
						<documentation xml:lang="en">Account in free format.</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:NationalAccountNumberType">
								<attribute name="format" type="token" use="required">
									<annotation>
										<documentation xml:lang="de">Formatkennung.</documentation>
										<documentation xml:lang="en">Format identification.</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</choice>
			<choice maxOccurs="2">
				<element name="BankCode">
					<annotation>
						<documentation xml:lang="de">Bankleitzahl (deutsches Format und/oder international als SWIFT-BIC).</documentation>
						<documentation xml:lang="en">Bank code (German and/or international=SWIFT-BIC).</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:BankCodeType">
								<attribute name="international" type="boolean" use="optional" default="false">
									<annotation>
										<documentation xml:lang="de">Ist die Bankleitzahl im deutschen Format (international=false, BLZ) oder im internationalen Format (international=true, SWIFT-BIC) angegeben?</documentation>
										<documentation xml:lang="en">Is the bank code specified using the national=German or the international SWIFT-BIC format?</documentation>
									</annotation>
								</attribute>
								<attribute name="Prefix" type="ebics:BankCodePrefixType" use="optional">
									<annotation>
										<documentation xml:lang="de">nationales Präfix für Bankleitzahlen.</documentation>
										<documentation xml:lang="en">National=German prefix for bank codes.</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<element name="NationalBankCode">
					<annotation>
						<documentation xml:lang="de">Bankleitzahl im freien Format.</documentation>
						<documentation xml:lang="en">Bank code in free format.</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:NationalBankCodeType">
								<attribute name="format" type="token" use="required">
									<annotation>
										<documentation xml:lang="de">Formatkennung.</documentation>
										<documentation xml:lang="en">Format identification.</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</choice>
			<element name="AccountHolder" type="ebics:AccountHolderType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Name des Kontoinhabers.</documentation>
					<documentation xml:lang="de">Name of the account holder.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="Currency" type="ebics:CurrencyBaseType" use="optional" default="EUR">
			<annotation>
				<documentation xml:lang="de">Währungscode für dieses Konto, Default=EUR.</documentation>
				<documentation xml:lang="en">Currency code for this account, Default=EUR.</documentation>
			</annotation>
		</attribute>
		<attribute name="Description" type="ebics:AccountDescriptionType" use="optional">
			<annotation>
				<documentation xml:lang="de">Kontobeschreibung.</documentation>
				<documentation xml:lang="en">Description of this account.</documentation>
			</annotation>
		</attribute>
	</complexType>
	<simpleType name="AccountNumberRoleType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Rolle eines Zahlungsverkehrskontos innerhalb einer Transaktion.</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Originator">
				<annotation>
					<documentation xml:lang="de">Auftraggeberkonto</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Recipient">
				<annotation>
					<documentation xml:lang="de">Empfängerkonto</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Charges">
				<annotation>
					<documentation xml:lang="de">Gebührenkonto</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Other">
				<annotation>
					<documentation xml:lang="de">andere Kontorolle</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="BankCodeRoleType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Rolle eines Kreditinstituts innerhalb einer Transaktion (repräsentiert durch die Bankleitzahl).</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Originator">
				<annotation>
					<documentation xml:lang="de">Auftraggeberbank</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Recipient">
				<annotation>
					<documentation xml:lang="de">Empfängerbank</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Correspondent">
				<annotation>
					<documentation xml:lang="de">Korrespondenzbank</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Other">
				<annotation>
					<documentation xml:lang="de">andere Bankrolle</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="AccountHolderRoleType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Rolle eines Kontoinhabers innerhalb einer Transaktion.</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Originator">
				<annotation>
					<documentation xml:lang="de">Auftraggeber</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Recipient">
				<annotation>
					<documentation xml:lang="de">Empfänger</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Presenter">
				<annotation>
					<documentation xml:lang="de">Überbringer, Einreicher</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Other">
				<annotation>
					<documentation xml:lang="de">andere Rolle</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<complexType name="AttributedAccountType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Kontoinformationen inkl. der Eigenschaftszuordnung innerhalb einer Zahlungstransaktion.</documentation>
		</annotation>
		<sequence>
			<choice maxOccurs="2">
				<element name="AccountNumber">
					<annotation>
						<documentation xml:lang="de">Kontonummer (deutsches Format oder international als IBAN).</documentation>
						<documentation xml:lang="en">Kontonummer (Account number (German format and/or international = IBAN).</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:AccountNumberType">
								<attribute name="Role" type="ebics:AccountNumberRoleType" use="required">
									<annotation>
										<documentation xml:lang="de">Rolle des Kontos innerhalb der Zahlungstransaktion.</documentation>
										<documentation xml:lang="en">Role of the account during the transaction.</documentation>
									</annotation>
								</attribute>
								<attribute name="Description" type="normalizedString">
									<annotation>
										<documentation xml:lang="de">Textuelle Beschreibung der Funktion, falls role=Other ausgewählt wird.</documentation>
										<documentation xml:lang="en">Textual description of the role the account place during the transaction; use only if the corresponding 'role' field is set to 'other'.</documentation>
									</annotation>
								</attribute>
								<attribute name="international" type="boolean" use="optional" default="false">
									<annotation>
										<documentation xml:lang="de">Ist die Kontonummer im deutschen Format (international=false) oder im internationalen Format (international=true, IBAN) angegeben?</documentation>
										<documentation xml:lang="en">Is the account number specified using the national=German or the international=IBAN format?</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<element name="NationalAccountNumber">
					<annotation>
						<documentation xml:lang="de">Kontonummer im freien Format.</documentation>
						<documentation xml:lang="en">Account in free format.</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:NationalAccountNumberType">
								<attribute name="Role" type="ebics:AccountNumberRoleType" use="required">
									<annotation>
										<documentation xml:lang="de">Rolle des Kontos innerhalb der Zahlungstransaktion.</documentation>
										<documentation xml:lang="en">Role of the account during the transaction.</documentation>
									</annotation>
								</attribute>
								<attribute name="Description" type="normalizedString">
									<annotation>
										<documentation xml:lang="de">Textuelle Beschreibung der Funktion, falls role=Other ausgewählt wird.</documentation>
										<documentation xml:lang="en">Textual description of the role the account place during the transaction; use only if the corresponding 'role' field is set to 'other'.</documentation>
									</annotation>
								</attribute>
								<attribute name="format" type="token" use="required">
									<annotation>
										<documentation xml:lang="de">Formatkennung.</documentation>
										<documentation xml:lang="en">Format identification.</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</choice>
			<choice maxOccurs="2">
				<element name="BankCode">
					<annotation>
						<documentation xml:lang="de">Bankleitzahl (deutsches Format oder international als SWIFT-BIC).</documentation>
						<documentation xml:lang="en">Bank code (German and/or international=SWIFT-BIC).</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:BankCodeType">
								<attribute name="Role" type="ebics:BankCodeRoleType" use="required">
									<annotation>
										<documentation xml:lang="de">Rolle des kontoführenden Instituts innerhalb der Zahlungstransaktion.</documentation>
										<documentation xml:lang="en">Role of the bank during the transaction.</documentation>
									</annotation>
								</attribute>
								<attribute name="Description" type="normalizedString">
									<annotation>
										<documentation xml:lang="de">Textuelle Beschreibung der Funktion, falls role=Other ausgewählt wird.</documentation>
										<documentation xml:lang="en">Textual description of the role the account place during the transaction; use only if the corresponding 'role' field is set to 'other'.</documentation>
									</annotation>
								</attribute>
								<attribute name="international" type="boolean" use="optional" default="false">
									<annotation>
										<documentation xml:lang="de">Ist die Bankleitzahl im deutschen Format (international=false, BLZ) oder im internationalen Format (international=true, SWIFT-BIC) angegeben?</documentation>
										<documentation xml:lang="en">Is the bank code specified using the national=German or the international=SWIFT-BIC format?</documentation>
									</annotation>
								</attribute>
								<attribute name="Prefix" type="ebics:BankCodePrefixType" use="optional">
									<annotation>
										<documentation xml:lang="de">nationales Präfix für Bankleitzahlen.</documentation>
										<documentation xml:lang="en">National=German prefix for bank codes.</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<element name="NationalBankCode">
					<annotation>
						<documentation xml:lang="de">Bankleitzahl im freien Format.</documentation>
						<documentation xml:lang="en">Bank code in free format.</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:NationalBankCodeType">
								<attribute name="Role" type="ebics:BankCodeRoleType" use="required">
									<annotation>
										<documentation xml:lang="de">Rolle des kontoführenden Instituts innerhalb der Zahlungstransaktion.</documentation>
										<documentation xml:lang="en">Role of the bank during the transaction.</documentation>
									</annotation>
								</attribute>
								<attribute name="Description" type="normalizedString">
									<annotation>
										<documentation xml:lang="de">Textuelle Beschreibung der Funktion, falls role=Other ausgewählt wird.</documentation>
										<documentation xml:lang="en">Textual description of the role the account place during the transaction; use only if the corresponding 'role' field is set to 'other'.</documentation>
									</annotation>
								</attribute>
								<attribute name="format" type="token" use="required">
									<annotation>
										<documentation xml:lang="de">Formatkennung.</documentation>
										<documentation xml:lang="en">Format identification.</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</choice>
			<element name="AccountHolder" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Name des Kontoinhabers.</documentation>
					<documentation xml:lang="de">Name of the account holder.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="ebics:AccountHolderType">
							<attribute name="Role" type="ebics:AccountHolderRoleType" use="required">
								<annotation>
									<documentation xml:lang="de">Rolle des Kontoinhabers innerhalb der Zahlungstransaktion.</documentation>
									<documentation xml:lang="en">Role of the account holder during the transaction.</documentation>
								</annotation>
							</attribute>
							<attribute name="Description" type="normalizedString">
								<annotation>
									<documentation xml:lang="de">Textuelle Beschreibung der Rolle, falls role=Other ausgewählt wird.</documentation>
									<documentation xml:lang="en">Textual description of the role the account holder place during the transaction; use only if the corresponding 'role' field is set to 'other'.</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
		<attribute name="Currency" type="ebics:CurrencyBaseType" use="optional" default="EUR">
			<annotation>
				<documentation xml:lang="de">Währungscode für dieses Konto, Default=EUR.</documentation>
				<documentation xml:lang="en">Currency code for this account, Default=EUR.</documentation>
			</annotation>
		</attribute>
		<attribute name="Description" type="ebics:AccountDescriptionType">
			<annotation>
				<documentation xml:lang="de">Kontobeschreibung.</documentation>
				<documentation xml:lang="en">Description of this account.</documentation>
			</annotation>
		</attribute>
	</complexType>
	<simpleType name="SignatureDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für binäre Signaturdaten (komprimiert, verschlüsselt und kodiert).</documentation>
		</annotation>
		<restriction base="base64Binary"/>
	</simpleType>
	<simpleType name="OrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für binäre Auftragsdaten (komprimiert, verschlüsselt und kodiert).</documentation>
		</annotation>
		<restriction base="base64Binary"/>
	</simpleType>
	<simpleType name="CountryCodeType">
		<annotation>
			<documentation xml:lang="de">ISO-Code zur Länderkennzeichnung.</documentation>
			<documentation xml:lang="en">ISO-Code to identify the country.</documentation>
		</annotation>
		<restriction base="token">
			<length value="2"/>
			<pattern value="[A-Z]{2,2}"/>
		</restriction>
	</simpleType>
	<complexType name="FileFormatType">
		<annotation>
			<documentation xml:lang="de">Datentyp für das Dateiformat.</documentation>
		</annotation>
		<simpleContent>
			<extension base="token">
				<attribute name="CountryCode" type="ebics:CountryCodeType">
					<annotation>
						<documentation xml:lang="de">ISO-Code zur Länderkennzeichnung (EU für Europa)</documentation>
						<documentation xml:lang="en">ISO-Code to identify the country (EU for Europe)</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="AuthorisationLevelType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Berechtigungsklassen zur Elektronischen Unterschrift.</documentation>
		</annotation>
		<restriction base="token">
			<length value="1"/>
			<enumeration value="E">
				<annotation>
					<documentation xml:lang="de">Einzelunterschrift</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A">
				<annotation>
					<documentation xml:lang="de">Erstunterschrift</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation xml:lang="de">Zweitunterschrift</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation xml:lang="de">Transportunterschrift</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="AuthorisationLevelListType">
		<annotation>
			<documentation xml:lang="de">Listentyp für Berechtigungsklassen zur Elektronischen Unterschrift.</documentation>
		</annotation>
		<list itemType="ebics:AuthorisationLevelType"/>
	</simpleType>
	<simpleType name="DigestAlgorithmType">
		<annotation>
			<documentation>Datentyp für Hashfunktionen.</documentation>
		</annotation>
		<restriction base="anyURI"/>
	</simpleType>
	<simpleType name="DigestType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Hashwerte.</documentation>
		</annotation>
		<restriction base="ds:DigestValueType"/>
	</simpleType>
	<complexType name="DataDigestType">
		<simpleContent>
			<extension base="ebics:DigestType">
				<attribute name="SignatureVersion" type="ebics:SignatureVersionType" use="optional" default="A004">
					<annotation>
						<documentation xml:lang="de">Version des Signaturverfahrens.</documentation>
						<documentation xml:lang="en">Version of the algorithm used for signature creation.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="SignatureType">
		<annotation>
			<documentation xml:lang="de">Datentyp für kryptographische Unterschriften.</documentation>
		</annotation>
		<restriction base="base64Binary"/>
	</simpleType>
	<simpleType name="SymmetricKeyType">
		<annotation>
			<documentation xml:lang="de">Datentyp für symmetrische Schlüssel.</documentation>
		</annotation>
		<restriction base="base64Binary"/>
	</simpleType>
	<complexType name="PubKeyDigestType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Hashwerte und Attribute von öffentlichen Schlüsseln.</documentation>
		</annotation>
		<simpleContent>
			<extension base="ebics:DigestType">
				<attribute name="Algorithm" type="anyURI" use="required">
					<annotation>
						<documentation xml:lang="de">Hashalgorithmus.</documentation>
						<documentation xml:lang="en">Name of the used hash algorithm.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="PubKeyValueType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Exponent-Modulus-Darstellung eines öffentlichen RSA-Schlüssels.</documentation>
		</annotation>
		<sequence>
			<element ref="ds:RSAKeyValue"/>
			<element name="TimeStamp" type="ebics:TimestampType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Zeitpunkt der Generierung des Schlüssels.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="PubKeyInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Darstellung eines öffentlichen RSA-Schlüssels als Exponent-Modulus-Kombination oder als X509-Zertifikat.</documentation>
		</annotation>
		<sequence>
			<sequence>
				<element ref="ds:X509Data" minOccurs="0"/>
				<element name="PubKeyValue" type="ebics:PubKeyValueType">
					<annotation>
						<documentation xml:lang="de">Darstellung als Exponent-Modulus-Kombination.</documentation>
					</annotation>
				</element>
			</sequence>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="EncryptionPubKeyInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für öffentliche Verschlüsselungsschlüssel.</documentation>
		</annotation>
		<complexContent>
			<extension base="ebics:PubKeyInfoType">
				<sequence>
					<element name="EncryptionVersion" type="ebics:EncryptionVersionType">
						<annotation>
							<documentation xml:lang="de">Version des Verschlüsselungsverfahrens.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AuthenticationPubKeyInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für öffentlichen Authentfikationsschlüssel.</documentation>
		</annotation>
		<complexContent>
			<extension base="ebics:PubKeyInfoType">
				<sequence>
					<element name="AuthenticationVersion" type="ebics:AuthenticationVersionType">
						<annotation>
							<documentation xml:lang="de">Version des Authentifikationsverfahrens.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="ReturnCodeType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Antwortcodes.</documentation>
		</annotation>
		<restriction base="token">
			<length value="6"/>
			<pattern value="\d{6}"/>
		</restriction>
	</simpleType>
	<simpleType name="ReportTextType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Erklärungstext zum Antwortcode.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<maxLength value="256"/>
		</restriction>
	</simpleType>
	<simpleType name="ReceiptCodeType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Quittierungscodes.</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<maxInclusive value="1"/>
			<minInclusive value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="NameType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Kunden-, Teilnehmer-, Straßen- oder Ortsnamen.</documentation>
		</annotation>
		<restriction base="normalizedString"/>
	</simpleType>
	<simpleType name="TransferType">
		<annotation>
			<documentation>Datentyp für den Transfertyp (Upload/Download).</documentation>
		</annotation>
		<restriction base="token">
			<enumeration value="Upload">
				<annotation>
					<documentation xml:lang="de">Auftragsdaten werden bei der Anfrage transferiert.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Download">
				<annotation>
					<documentation xml:lang="de">Auftragsdaten werden bei der Antwort transferiert.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="OrderDescriptionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Beschreibung von Auftragsarten.</documentation>
		</annotation>
		<restriction base="normalizedString">
			<maxLength value="128"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderFormatType">
		<annotation>
			<documentation xml:lang="de">Datentyp für das Auftragsformat.</documentation>
		</annotation>
		<restriction base="token">
			<maxLength value="8"/>
		</restriction>
	</simpleType>
	<simpleType name="UserStatusType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Teilnehmerstatus.</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<maxInclusive value="99"/>
		</restriction>
	</simpleType>
	<element name="Parameter">
		<annotation>
			<documentation xml:lang="de">generische Schlüssel-Wert-Parameter.</documentation>
			<documentation xml:lang="en">Generic key value parameters.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Name" type="token">
					<annotation>
						<documentation xml:lang="de">Name des Parameters.</documentation>
						<documentation xml:lang="en">Name of the parameter (= key).</documentation>
					</annotation>
				</element>
				<element name="Value">
					<annotation>
						<documentation xml:lang="de">Wert des Parameters.</documentation>
						<documentation xml:lang="en">Value of the parameter.</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="anySimpleType">
								<attribute name="Type" type="NCName" use="optional" default="string">
									<annotation>
										<documentation xml:lang="de">XML-Typ des Parameterwerts (Default=string).</documentation>
										<documentation xml:lang="en">XML type of the parameter value (default is string).</documentation>
									</annotation>
								</attribute>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<complexType name="DataEncryptionInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für die Darstellung von Information zur Verschlüsselung der Auftragsdaten.</documentation>
			<documentation xml:lang="en">Data type for the modelling of information regarding the encryption of signature and order data.</documentation>
		</annotation>
		<sequence>
			<element name="EncryptionPubKeyDigest">
				<annotation>
					<documentation xml:lang="de">Hashwert des öffentlichen Verschlüsselungsschlüssels des Empfängers der verschlüsselten Auftragsdaten.</documentation>
					<documentation xml:lang="en">Hash value of the public encryption key owned by the receipient of the encrypted order data.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="ebics:PubKeyDigestType">
							<attribute name="Version" type="ebics:EncryptionVersionType" use="required">
								<annotation>
									<documentation xml:lang="de">Version des Verschlüsselungsverfahrens.</documentation>
									<documentation xml:lang="en">Version of the encryption method.</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="TransactionKey" type="ebics:SymmetricKeyType">
				<annotation>
					<documentation xml:lang="de">Asymmetrisch verschlüsselter symmetrischer Transaktionsschlüssel.</documentation>
					<documentation xml:lang="en">The asymmetrically encrypted symmetric transaction key.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="AuthSignature" type="ds:SignatureType">
		<annotation>
			<documentation xml:lang="de">Authentifikationssignatur.</documentation>
			<documentation xml:lang="en">Authentication signature.</documentation>
		</annotation>
	</element>
</schema>
