axelor-bank-payment/src/main/resources/xsd/ebics/ebics_orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:esig="http://www.ebics.org/S001" xmlns:ebics="http://www.ebics.org/H003" targetNamespace="http://www.ebics.org/H003" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<annotation>
		<documentation xml:lang="de">ebics_orders.xsd enthält auftragsbezogene Referenzelemente und auftragsbezogene Typdefinitionen für EBICS.</documentation>
		<documentation xml:lang="en">ebics_orders.xsd contains order-based reference elements and order-based type definitions for EBICS.</documentation>
	</annotation>
	<import namespace="http://www.ebics.org/S001" schemaLocation="ebics_signature.xsd"/>
	<include schemaLocation="ebics_types.xsd"/>
	<!--Es folgen die Elementdefinitionen für neue EBICS-Auftragsarten (Hxx). Die XML-Klartext-Struktur wird im EBICS-Auftragsdatenkontext binär interpretiert.-->
	<element name="EBICSOrderData" abstract="true">
		<annotation>
			<documentation xml:lang="de">XML-Klartext-Auftragsdaten für neue EBICS-Auftragsarten.</documentation>
			<documentation xml:lang="en">Order data in XML format for new EBICS order types.</documentation>
		</annotation>
	</element>
	<element name="HAAResponseOrderData" type="ebics:HAAResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HAA (Antwort: abrufbare Auftragsarten abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HAA (response: receive downloadable order types).</documentation>
		</annotation>
	</element>
	<element name="HCARequestOrderData" type="ebics:HCARequestOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HCA (Anfrage: Änderung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung).</documentation>
			<documentation xml:lang="en">Order data for order type HCA (request: replace user's keys for authentication and encryption).</documentation>
		</annotation>
	</element>
	<element name="HCSRequestOrderData" type="ebics:HCSRequestOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HCS (Anfrage: Schlüsselwechsel aller Schlüssel).</documentation>
			<documentation xml:lang="en">Order data for order type HCS (request: replace all keys).</documentation>
		</annotation>
	</element>
	<element name="HIARequestOrderData" type="ebics:HIARequestOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HIA (Anfrage: Initialisierung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung).</documentation>
			<documentation xml:lang="en">Order data for order type HIA (request: initialise user's keys for authentication and encryption).</documentation>
		</annotation>
	</element>
	<element name="HSARequestOrderData" type="ebics:HSARequestOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HSA (Anfrage: Initialisierung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung, bankfachlich signiert mit Signaturschlüssel aus FTAM).</documentation>
			<documentation xml:lang="en">Order data for order type HSA (request: initialise the user's keys for authentication and encryption; this request is signed using the user's FTAM signature key).</documentation>
		</annotation>
	</element>
	<element name="HKDResponseOrderData" type="ebics:HKDResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HKD (Antwort: Kunden- und Teilnehmerdaten des Kunden abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HKD (response: receive customer-based information on the customer and the customer's users).</documentation>
		</annotation>
		<key name="HKDAccountKey">
			<annotation>
				<documentation xml:lang="de">Schlüssel zur Identifikation des Kontos.</documentation>
				<documentation xml:lang="en">Key for the identification of the account.</documentation>
			</annotation>
			<selector xpath="./ebics:PartnerInfo/ebics:AccountInfo"/>
			<field xpath="@ID"/>
		</key>
		<keyref name="HKDAccountRef" refer="ebics:HKDAccountKey">
			<annotation>
				<documentation xml:lang="de">Referenz auf die Konten-Identifikationsschlüssel.</documentation>
				<documentation xml:lang="en">Reference to the account identification keys.</documentation>
			</annotation>
			<selector xpath="./ebics:UserInfo/ebics:Permission"/>
			<field xpath="ebics:AccountID"/>
		</keyref>
	</element>
	<element name="HPBResponseOrderData" type="ebics:HPBResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HPB (Antwort: Transfer der Bankschlüssel).</documentation>
			<documentation xml:lang="en">Order data for order type HPB (response: receive bank's public keys).</documentation>
		</annotation>
	</element>
	<element name="HPDResponseOrderData" type="ebics:HPDResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HPD (Antwort: Bankparameter abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HPD (response: receive bank parameters).</documentation>
		</annotation>
	</element>
	<element name="HTDResponseOrderData" type="ebics:HTDReponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HTD (Antwort: Kunden- und Teilnehmerdaten des Teilnehmers abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HTD (response: receive user-based information on the user's customer and the user herself/himself).</documentation>
		</annotation>
		<key name="HTDAccountKey">
			<annotation>
				<documentation xml:lang="de">Schlüssel zur Identifikation des Kontos.</documentation>
				<documentation xml:lang="en">Key for the identification of the account.</documentation>
			</annotation>
			<selector xpath="./ebics:PartnerInfo/ebics:AccountInfo"/>
			<field xpath="@ID"/>
		</key>
		<keyref name="HTDAccountRef" refer="ebics:HTDAccountKey">
			<annotation>
				<documentation xml:lang="de">Referenz auf die Konten-Identifikationsschlüssel.</documentation>
				<documentation xml:lang="en">Reference to the account identification keys.</documentation>
			</annotation>
			<selector xpath="./ebics:UserInfo/ebics:Permission"/>
			<field xpath="ebics:AccountID"/>
		</keyref>
	</element>
	<element name="HVDResponseOrderData" type="ebics:HVDResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HVD (Antwort: VEU-Status abrufen).</documentation>
			<documentation xml:lang="en">Order data for order type HVD (response: receive the status of an order currently stored in the distributed signature processing unit).</documentation>
		</annotation>
	</element>
	<element name="HVSRequestOrderData" type="ebics:HVSRequestOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HVS (Anfrage: VEU-Storno).</documentation>
			<documentation xml:lang="en">Order data for order type HVS (request: reject an order currently stored in the distributed signature processing unit).</documentation>
		</annotation>
	</element>
	<element name="HVTResponseOrderData" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HVT (Antwort: VEU-Transaktionsdetails abrufen).</documentation>
			<documentation xml:lang="en">Order data for order type HVT (response: receive transaction details of an order currently stored in the distributed signature processing unit).</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ebics:HVTResponseOrderDataType"/>
			</complexContent>
		</complexType>
	</element>
	<element name="HVUResponseOrderData" type="ebics:HVUResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HVU (Antwort: VEU-Übersicht abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HVU (response: receive summary of orders currently stored in the distributed signature processing unit).</documentation>
		</annotation>
	</element>
	<element name="HVZResponseOrderData" type="ebics:HVZResponseOrderDataType" substitutionGroup="ebics:EBICSOrderData">
		<annotation>
			<documentation xml:lang="de">Auftragsdaten für Auftragsart HVZ (Antwort: VEU-Übersicht mit Zusatzinformationen abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HVZ (response: receive summary of orders currently stored in the distributed signature processing unit with additional information).</documentation>
		</annotation>
	</element>
	<!--Es folgen die Elementdefinitionen für die EU. Die XML-Klartext-Struktur wird im EBICS-Signaturdatenkontext binär interpretiert.-->
	<element name="EBICSSignatureData" abstract="true">
		<annotation>
			<documentation xml:lang="de">XML-Strukturen für bankfachliche Elektronische Unterschriften (EUs).</documentation>
			<documentation xml:lang="en">contains the digital signatures.</documentation>
		</annotation>
	</element>
	<element name="BankSignatureData" type="ebics:BankSignatureDataSigBookType" substitutionGroup="ebics:EBICSSignatureData">
		<annotation>
			<documentation xml:lang="de">enthält die EU des Kreditinstituts.</documentation>
			<documentation xml:lang="en">contains the digital signatures.</documentation>
		</annotation>
	</element>
	<!--Es folgen die Elementdefinitionen für zusätzliche Auftragsparameter. Die XML-Klartext-Struktur wird in die Headerdaten eingebettet.-->
	<element name="OrderParams" abstract="true">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter, die zur Ausführung des Auftrags notwendig sind.</documentation>
			<documentation xml:lang="en">additional order parameters required to execute the order.</documentation>
		</annotation>
	</element>
	<element name="HVDOrderParams" type="ebics:HVDOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart HVD.</documentation>
			<documentation xml:lang="en">additional order parameters for order type HVD.</documentation>
		</annotation>
	</element>
	<element name="HVEOrderParams" type="ebics:HVEOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart HVE.</documentation>
			<documentation xml:lang="en">additional order parameters for order type HVE.</documentation>
		</annotation>
	</element>
	<element name="HVSOrderParams" type="ebics:HVSOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart HVS.</documentation>
			<documentation xml:lang="en">additional order parameters for order type HVS.</documentation>
		</annotation>
	</element>
	<element name="HVTOrderParams" type="ebics:HVTOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart HVT.</documentation>
			<documentation xml:lang="en">additional order parameters for order type HVT.</documentation>
		</annotation>
	</element>
	<element name="HVUOrderParams" type="ebics:HVUOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart HVU.</documentation>
			<documentation xml:lang="en">additional order parameters for order type HVU.</documentation>
		</annotation>
	</element>
	<element name="HVZOrderParams" type="ebics:HVZOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart HVZ.</documentation>
			<documentation xml:lang="en">additional order parameters for order type HVZ.</documentation>
		</annotation>
	</element>
	<element name="FULOrderParams" type="ebics:FULOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart FUL.</documentation>
			<documentation xml:lang="en">additional order parameters for order type FUL.</documentation>
		</annotation>
	</element>
	<element name="FDLOrderParams" type="ebics:FDLOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Auftragsart FDL.</documentation>
			<documentation xml:lang="en">additional order parameters for order type FDL.</documentation>
		</annotation>
	</element>
	<element name="StandardOrderParams" type="ebics:StandardOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für Standard-Auftragsarten.</documentation>
			<documentation xml:lang="en">additional order parameters for standard order types.</documentation>
		</annotation>
	</element>
	<element name="GenericOrderParams" type="ebics:GenericOrderParamsType" substitutionGroup="ebics:OrderParams">
		<annotation>
			<documentation xml:lang="de">zusätzliche Auftragsparameter für beliebige Auftragsarten.</documentation>
			<documentation xml:lang="en">additional order parameters for generic order types.</documentation>
		</annotation>
	</element>
	<!--Es folgen Elementgruppen- und Strukturdefinitionen.-->
	<group name="HVRequestStructure">
		<annotation>
			<documentation xml:lang="de">Standard-Requeststruktur für HVx-Aufträge (HVD, HVT, HVE, HVS).</documentation>
			<documentation xml:lang="en">Standard request structure for HVx orders (HVD, HVT, HVE, HVS).</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation xml:lang="de">Standard-Requestdaten.</documentation>
				<documentation xml:lang="en">Standard request data.</documentation>
			</annotation>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID des Einreichers des ausgewählten Auftrags.</documentation>
					<documentation xml:lang="en">Customer ID of the presenter of the selected order.</documentation>
				</annotation>
			</element>
			<element name="OrderType" type="ebics:OrderTBaseType">
				<annotation>
					<documentation xml:lang="de">Auftragsart des ausgewählten Auftrags.</documentation>
					<documentation xml:lang="en">Order type of the selected order.</documentation>
				</annotation>
			</element>
			<element name="OrderID" type="ebics:OrderIDType">
				<annotation>
					<documentation xml:lang="de">Auftragsnummer des ausgewählten Auftrags.</documentation>
					<documentation xml:lang="en">Order ID of the selected order.</documentation>
				</annotation>
			</element>
		</sequence>
	</group>
	<attributeGroup name="AuthenticationMarker">
		<annotation>
			<documentation xml:lang="de">Marker für Elemente und deren Substrukturen, die authentifiziert werden sollen.</documentation>
			<documentation xml:lang="en">Marker for elements and their substructures that are to be authenticated.</documentation>
		</annotation>
		<attribute name="authenticate" type="boolean" use="required" fixed="true">
			<annotation>
				<documentation xml:lang="de">Das zugehörige Element ist mitsamt seinen Unterstrukturen zu authentifizieren.</documentation>
				<documentation xml:lang="en">The element (and its substructures) that belongs to this attribute is to be authenticated.</documentation>
			</annotation>
		</attribute>
	</attributeGroup>
	<attributeGroup name="OptSupportFlag">
		<annotation>
			<documentation xml:lang="de">optionales Support-Flag, Default = true.</documentation>
			<documentation xml:lang="en">optional support flag, default = true.</documentation>
		</annotation>
		<attribute name="supported" type="boolean" use="optional" default="true">
			<annotation>
				<documentation xml:lang="de">Wird die Funktion unterstützt?</documentation>
				<documentation xml:lang="en">Is this function supported?</documentation>
			</annotation>
		</attribute>
		<anyAttribute namespace="##targetNamespace" processContents="strict"/>
	</attributeGroup>
	<attributeGroup name="SignerPermission">
		<annotation>
			<documentation xml:lang="de">EU-Berechtigungsinformationen.</documentation>
			<documentation xml:lang="en">permission information of a user's digital signature.</documentation>
		</annotation>
		<attribute name="AuthorisationLevel" type="ebics:AuthorisationLevelType" use="required">
			<annotation>
				<documentation xml:lang="de">Unterschriftsberechtigung des Teilnehmers, der unterzeichnet hat.</documentation>
				<documentation xml:lang="en">Authorisation level of the user that signed the order.</documentation>
			</annotation>
		</attribute>
		<anyAttribute namespace="##targetNamespace" processContents="strict"/>
	</attributeGroup>
	<!--Es folgen Typdefinitionen für auftragsbezogene komplexe Typen.-->
	<complexType name="BankSignatureDataSigBookType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Signaturdaten des Kreditinstituts beim EU-Transfer.</documentation>
			<documentation xml:lang="en">Data type for digital signature data transferred using EBICS.</documentation>
		</annotation>
		<sequence>
			<element name="OrderSignature" minOccurs="0" maxOccurs="0">
				<annotation>
					<documentation xml:lang="de">bankfachliche Elektronische Unterschrift.</documentation>
					<documentation xml:lang="en">Digital signature (either autorising an order or applied for transportation).</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="ebics:SignatureType"/>
					</simpleContent>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="PreValidationRequestType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Vorabprüfung (Anfrage).</documentation>
			<documentation xml:lang="en">Data type for pre-validation (request).</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation xml:lang="de">Client sendet den Hashwert der Auftragsdaten und alle weiteren Daten, die er im Rahmen der Vorabprüfung zur Verfügung stellen will</documentation>
			</annotation>
			<element name="DataDigest" type="ebics:DataDigestType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Hashwert der zu übertragenden Auftragsdatendatei für die Vorabprüfung.</documentation>
				</annotation>
			</element>
			<element name="AccountAuthorisation" type="ebics:PreValidationAccountAuthType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Kontoangabe zur Kontoberechtigung für diesen Zahlungsverkehrsauftrag bei der Vorabprüfung.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="PreValidationAccountAuthType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Kontenberechtigungsdaten zur Vorabprüfung.</documentation>
		</annotation>
		<complexContent>
			<extension base="ebics:AccountType">
				<sequence>
					<element name="Amount" type="ebics:AmountType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">Summe der Zahlungsverkehrsaufträge dieses Kontos für die Höchstbetragsprüfung der EU.</documentation>
							<documentation xml:lang="en">Total sum of the ordered payments regarding this account in order to check the maximum amount limit of the signature permission grades.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DataTransferRequestType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Transfer von Auftragsdaten (Anfrage).</documentation>
		</annotation>
		<sequence>
			<choice>
				<annotation>
					<documentation xml:lang="de">Transaktionsphase?</documentation>
				</annotation>
				<sequence>
					<annotation>
						<documentation xml:lang="de">Initialisierungsphase: Transfer der Signaturdaten (EUs) und des Transaktionsschlüssels.</documentation>
					</annotation>
					<element name="DataEncryptionInfo">
						<annotation>
							<documentation xml:lang="de">Information zur Verschlüsselung der Signatur- und Auftragsdaten.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="ebics:DataEncryptionInfoType">
									<attributeGroup ref="ebics:AuthenticationMarker"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="SignatureData">
						<annotation>
							<documentation xml:lang="de">enthält Signaturdaten (EUs).</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ebics:SignatureDataType">
									<attributeGroup ref="ebics:AuthenticationMarker"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
				<sequence>
					<annotation>
						<documentation xml:lang="de">Transferphase: Transfer von Auftragsdaten.</documentation>
					</annotation>
					<element name="OrderData">
						<annotation>
							<documentation xml:lang="de">enthält Auftragsdaten.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ebics:OrderDataType">
									<anyAttribute namespace="##targetNamespace" processContents="lax"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</choice>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="DataTransferResponseType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Transfer von Auftragsdaten (Antwort).</documentation>
		</annotation>
		<sequence>
			<sequence minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Transfer des Sitzungsschlüssels und (optional) der Signaturdaten (EUs); nur in der Initialisierungsphase anzugeben.</documentation>
				</annotation>
				<element name="DataEncryptionInfo">
					<annotation>
						<documentation xml:lang="de">Information zur Verschlüsselung der Signatur- und Auftragsdaten.</documentation>
					</annotation>
					<complexType>
						<complexContent>
							<extension base="ebics:DataEncryptionInfoType">
								<attributeGroup ref="ebics:AuthenticationMarker"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="SignatureData" minOccurs="0" maxOccurs="0">
					<annotation>
						<documentation xml:lang="de">enthält Signaturdaten (EUs).</documentation>
					</annotation>
					<complexType>
						<simpleContent>
							<extension base="ebics:SignatureDataType">
								<attributeGroup ref="ebics:AuthenticationMarker"/>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</sequence>
			<element name="OrderData">
				<annotation>
					<documentation xml:lang="de">enthält Auftragsdaten.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="ebics:OrderDataType">
							<anyAttribute namespace="##targetNamespace" processContents="lax"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="TransferReceiptRequestType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Transfer von Transferquittungen.</documentation>
		</annotation>
		<sequence>
			<element name="ReceiptCode" type="ebics:ReceiptCodeType">
				<annotation>
					<documentation xml:lang="de">Quittierungscode für Auftragsdatentransfer.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="TransferReceiptResponseType">
		<annotation>
			<documentation xml:lang="de">Datentyp für den Transfer von Antwortcodes.</documentation>
		</annotation>
		<sequence>
			<element name="ReturnCodeReceipt" type="ebics:ReturnCodeType">
				<annotation>
					<documentation xml:lang="de">Antwortcode für den vorangegangenen Transfer.</documentation>
				</annotation>
			</element>
			<element name="TimestampBankParameter" type="ebics:TimestampType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Zeitstempel der letzten Aktualisierung der Bankparameter.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HAAResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HAA (Antwort: abrufbare Auftragsarten abholen).</documentation>
		</annotation>
		<sequence>
			<element name="OrderTypes" type="ebics:OrderTListType">
				<annotation>
					<documentation xml:lang="de">Liste von Auftragsarten, für die Daten bereit stehen.</documentation>
				</annotation>
			</element>
			<any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HCARequestOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HCA (Anfrage: Änderung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung).</documentation>
		</annotation>
		<sequence>
			<element name="AuthenticationPubKeyInfo" type="ebics:AuthenticationPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Authentifikationsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="EncryptionPubKeyInfo" type="ebics:EncryptionPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Verschlüsselungsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID.</documentation>
				</annotation>
			</element>
			<element name="UserID" type="ebics:UserIDType">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HCSRequestOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HCS (Anfrage: Schlüsselwechsel aller Schlüssel).</documentation>
		</annotation>
		<sequence>
			<element name="AuthenticationPubKeyInfo" type="ebics:AuthenticationPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Authentifikationsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="EncryptionPubKeyInfo" type="ebics:EncryptionPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Verschlüsselungsschlüssel.</documentation>
				</annotation>
			</element>
			<element ref="esig:SignaturePubKeyInfo"/>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID.</documentation>
				</annotation>
			</element>
			<element name="UserID" type="ebics:UserIDType">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HIARequestOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HIA (Anfrage: Initialisierung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung).</documentation>
		</annotation>
		<sequence>
			<element name="AuthenticationPubKeyInfo" type="ebics:AuthenticationPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Authentifikationsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="EncryptionPubKeyInfo" type="ebics:EncryptionPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Verschlüsselungsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID.</documentation>
				</annotation>
			</element>
			<element name="UserID" type="ebics:UserIDType">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HSARequestOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HSA (Anfrage: Initialisierung der Teilnehmerschlüssel für Authentifikation und Verschlüsselung, bankfachlich signiert mit FTAM-Schlüssel).</documentation>
		</annotation>
		<sequence>
			<element name="AuthenticationPubKeyInfo" type="ebics:AuthenticationPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Authentifikationsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="EncryptionPubKeyInfo" type="ebics:EncryptionPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Verschlüsselungsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID.</documentation>
				</annotation>
			</element>
			<element name="UserID" type="ebics:UserIDType">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HKDResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HKD (Antwort: Kunden- und Teilnehmerdaten des Kunden abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HKD (response: receive customer based information on the customer and the customer's user.</documentation>
		</annotation>
		<sequence>
			<element name="PartnerInfo" type="ebics:PartnerInfoType">
				<annotation>
					<documentation xml:lang="de">Kundendaten.</documentation>
					<documentation xml:lang="en">Customer data.</documentation>
				</annotation>
			</element>
			<element name="UserInfo" type="ebics:UserInfoType" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Teilnehmerdaten.</documentation>
					<documentation xml:lang="en">User data.</documentation>
				</annotation>
			</element>
			<any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HPBResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HPB (Antwort: Transfer der Bankschlüssel).</documentation>
		</annotation>
		<sequence>
			<element name="AuthenticationPubKeyInfo" type="ebics:AuthenticationPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Authentifikationsschlüssel.</documentation>
				</annotation>
			</element>
			<element name="EncryptionPubKeyInfo" type="ebics:EncryptionPubKeyInfoType">
				<annotation>
					<documentation xml:lang="de">öffentlicher Verschlüsselungsschlüssel.</documentation>
				</annotation>
			</element>
			<element ref="esig:SignaturePubKeyInfo" minOccurs="0" maxOccurs="0">
				<annotation>
					<documentation xml:lang="de">öffentlicher EU-Signaturschlüssel.</documentation>
				</annotation>
			</element>
			<element name="HostID" type="ebics:HostIDType">
				<annotation>
					<documentation xml:lang="de">Banksystem-ID.</documentation>
				</annotation>
			</element>
			<any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HPDResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HPD (Antwort: Bankparameter abholen).</documentation>
		</annotation>
		<sequence>
			<element name="AccessParams" type="ebics:HPDAccessParamsType">
				<annotation>
					<documentation xml:lang="de">Zugangsparameter.</documentation>
				</annotation>
			</element>
			<element name="ProtocolParams" type="ebics:HPDProtocolParamsType">
				<annotation>
					<documentation xml:lang="de">Protokollparameter.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="HPDAccessParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HPD-Zugangsparameter.</documentation>
		</annotation>
		<sequence>
			<element name="URL" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">institutsspezifische IP-Adresse/URL.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="anyURI">
							<attribute name="valid_from" type="ebics:TimestampType">
								<annotation>
									<documentation xml:lang="de">Gültigkeitsbeginn für die angegebene URL/IP.</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Institute">
				<annotation>
					<documentation xml:lang="de">Institutsbezeichnung.</documentation>
				</annotation>
				<simpleType>
					<restriction base="normalizedString">
						<maxLength value="80"/>
					</restriction>
				</simpleType>
			</element>
			<element name="HostID" type="ebics:HostIDType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Banksystem-ID.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HPDProtocolParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HPD-Protokollparameter.</documentation>
			<documentation xml:lang="en">Data type for HPD's parameters regarding the EBICS protocol.</documentation>
		</annotation>
		<sequence>
			<element name="Version" type="ebics:HPDVersionType">
				<annotation>
					<documentation xml:lang="de">Spezifikation unterstützter Versionen.</documentation>
					<documentation xml:lang="en">Specification of supported versions..</documentation>
				</annotation>
			</element>
			<element name="Recovery" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Parameter zur Recovery-Funktion (Wiederaufnahme abgebrochener Übertragungen).</documentation>
					<documentation xml:lang="en">Parameter denoting the recovery function (recovery of aborted transmissions).</documentation>
				</annotation>
				<complexType>
					<attributeGroup ref="ebics:OptSupportFlag"/>
				</complexType>
			</element>
			<element name="PreValidation" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Parameter zur Vorabprüfung (über die Übermittlung der EU hinaus).</documentation>
					<documentation xml:lang="en">Parameter denoting the pre-validation (beyond transmission of signatures).</documentation>
				</annotation>
				<complexType>
					<annotation>
						<documentation xml:lang="de">Optionales Support-Flag, Default = true.</documentation>
						<documentation xml:lang="en">Optional support flag, default = true.</documentation>
					</annotation>
					<attributeGroup ref="ebics:OptSupportFlag"/>
				</complexType>
			</element>
			<element name="X509Data" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Parameter zur X.509-Funktionalität.</documentation>
					<documentation xml:lang="en">Parameter denoting the X.509 functionality.</documentation>
				</annotation>
				<complexType>
					<attributeGroup ref="ebics:OptSupportFlag"/>
					<attribute name="persistent" type="boolean" use="optional" default="false">
						<annotation>
							<documentation xml:lang="de">Sind die X.509-Daten der Teilnehmer serverseitig persistent gespeichert?</documentation>
							<documentation xml:lang="en">Will the user's X.509 data be stored persistently on server side?</documentation>
						</annotation>
					</attribute>
				</complexType>
			</element>
			<element name="ClientDataDownload" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Parameter zum Download von Kunden- und Teilnehmerdaten (Auftragsarten HKD/HTD).</documentation>
					<documentation xml:lang="en">Parameter denoting the download of customer and user data (order types HKD/HTD).</documentation>
				</annotation>
				<complexType>
					<attributeGroup ref="ebics:OptSupportFlag"/>
				</complexType>
			</element>
			<element name="DownloadableOrderData" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Parameter zum Abruf von Auftragsarten, zu denen Auftragsdaten verfügbar sind (Auftragsart HAA).</documentation>
					<documentation xml:lang="en">Parameter denoting the reception of order types which provides downloadable order data (order type HAA).</documentation>
				</annotation>
				<complexType>
					<attributeGroup ref="ebics:OptSupportFlag"/>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HPDVersionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HPD-Versionsinformationen.</documentation>
		</annotation>
		<sequence>
			<element name="Protocol">
				<annotation>
					<documentation xml:lang="de">unterstützte EBICS-Protokollversionen (H...).</documentation>
				</annotation>
				<simpleType>
					<list itemType="ebics:ProtocolVersionType"/>
				</simpleType>
			</element>
			<element name="Authentication">
				<annotation>
					<documentation xml:lang="de">unterstützte Versionen der Authentifikation (X...).</documentation>
				</annotation>
				<simpleType>
					<list itemType="ebics:AuthenticationVersionType"/>
				</simpleType>
			</element>
			<element name="Encryption">
				<annotation>
					<documentation xml:lang="de">unterstützte Versionen der Verschlüsselung (E...).</documentation>
				</annotation>
				<simpleType>
					<list itemType="ebics:EncryptionVersionType"/>
				</simpleType>
			</element>
			<element name="Signature">
				<annotation>
					<documentation xml:lang="de">unterstützte EU-Versionen (A...).</documentation>
				</annotation>
				<simpleType>
					<list itemType="esig:SignatureVersionType"/>
				</simpleType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HTDReponseOrderDataType">
		<annotation>
			<documentation>Datentyp für Auftragsdaten für Auftragsart HTD (Antwort: Kunden- und Teilnehmerdaten des Teilnehmers abholen).</documentation>
		</annotation>
		<sequence>
			<element name="PartnerInfo" type="ebics:PartnerInfoType">
				<annotation>
					<documentation xml:lang="de">Kundendaten.</documentation>
					<documentation xml:lang="en">Customer data.</documentation>
				</annotation>
			</element>
			<element name="UserInfo" type="ebics:UserInfoType">
				<annotation>
					<documentation xml:lang="de">Teilnehmerdaten.</documentation>
					<documentation xml:lang="en">User data.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVDResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HVD (Antwort: VEU-Status abrufen).</documentation>
		</annotation>
		<sequence>
			<element name="DataDigest" type="ebics:DataDigestType">
				<annotation>
					<documentation xml:lang="de">Hashwert der Auftragsdaten.</documentation>
					<documentation xml:lang="en">Hash value of the order data.</documentation>
				</annotation>
			</element>
			<element name="DisplayFile" type="base64Binary">
				<annotation>
					<documentation xml:lang="de">Begleitzettel/"Displaydatei" (entspricht der Dateianzeige im Kundenprotokoll gemäß DFÜ-Abkommen).</documentation>
					<documentation xml:lang="en">Accompanying ticket/"display file" (corresponds to the display file of the customer's journal according to the document "DFÜ-Abkommen").</documentation>
				</annotation>
			</element>
			<element name="OrderDataAvailable" type="boolean">
				<annotation>
					<documentation xml:lang="de">Kann die Auftragsdatei im Originalformat abgeholt werden? (HVT mit completeOrderData=true)</documentation>
					<documentation xml:lang="en">Can the order file be downloaded in the original format? (HVT with completeOrderData=true)</documentation>
				</annotation>
			</element>
			<element name="OrderDataSize" type="positiveInteger">
				<annotation>
					<documentation xml:lang="de">Größe der unkomprimierten Auftragsdaten in Bytes.</documentation>
					<documentation xml:lang="en">Size of the uncompressed order data (byte count).</documentation>
				</annotation>
			</element>
			<element name="OrderDetailsAvailable" type="boolean">
				<annotation>
					<documentation xml:lang="de">Können die Auftragsdetails als XML-Dokument HVTResponseOrderData abgeholt werden?  (HVT mit completeOrderData=false)</documentation>
					<documentation xml:lang="en">Can the order details be downloaded as XML document HVTResponseOrderData?  (HVT with completeOrderData=false)</documentation>
				</annotation>
			</element>
			<element name="BankSignature" type="ebics:SignatureType" minOccurs="0" maxOccurs="0">
				<annotation>
					<documentation xml:lang="de">bankfachliche Elektronische Unterschrift des Kreditinstituts über Hashwert und Displaydatei.</documentation>
					<documentation xml:lang="en">Digital Signature issued by the bank, covering the hash value and the accompanying ticket.</documentation>
				</annotation>
			</element>
			<element name="SignerInfo" type="ebics:SignerInfoType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Informationen zu den bisherigen Unterzeichnern.</documentation>
					<documentation xml:lang="en">Information about the already existing signers.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVDOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart HVD.</documentation>
		</annotation>
		<sequence>
			<group ref="ebics:HVRequestStructure"/>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVEOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart HVE.</documentation>
		</annotation>
		<sequence>
			<group ref="ebics:HVRequestStructure"/>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVSOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart HVS.</documentation>
		</annotation>
		<sequence>
			<group ref="ebics:HVRequestStructure"/>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVSRequestOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HVS (Anfrage: VEU-Storno).</documentation>
		</annotation>
		<sequence>
			<element name="CancelledDataDigest" type="ebics:DataDigestType">
				<annotation>
					<documentation xml:lang="de">Hashwert der Auftragsdaten des stornierten Auftrags.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVTResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Antwort mit Einzelauftraginfos für Auftragsart HVT (Antwort VEU-Transaktionsdetails abrufen mit completeOrderData="false").</documentation>
		</annotation>
		<sequence>
			<element name="NumOrderInfos" type="ebics:NumOrderInfosType">
				<annotation>
					<documentation xml:lang="de">Gesamtanzahl der Einzelaufträge für den Auftrag.</documentation>
					<documentation xml:lang="en">Total number of order infos for the order.</documentation>
				</annotation>
			</element>
			<element name="OrderInfo" type="ebics:HVTOrderInfoType" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Einzelauftragsinfos.</documentation>
					<documentation xml:lang="en">Particular order content information requested for display matters.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVTAccountInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HVT-Konteninformationen.</documentation>
			<documentation xml:lang="en">Data type for account information regarding order type HVT.</documentation>
		</annotation>
		<complexContent>
			<extension base="ebics:AttributedAccountType"/>
		</complexContent>
	</complexType>
	<complexType name="HVTOrderInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HVT-Auftragsinformationen.</documentation>
		</annotation>
		<sequence>
			<element name="OrderFormat" type="ebics:OrderFormatType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Auftragsformat (z.B. DTAZV).</documentation>
				</annotation>
			</element>
			<element name="AccountInfo" type="ebics:HVTAccountInfoType" minOccurs="2" maxOccurs="3">
				<annotation>
					<documentation xml:lang="de">kontobezogene Details des Auftrags (Auftraggeber, Empfänger etc.).</documentation>
				</annotation>
			</element>
			<element name="ExecutionDate" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Ausführungsdatum.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="date"/>
					</simpleContent>
				</complexType>
			</element>
			<element name="Amount">
				<annotation>
					<documentation xml:lang="de">Betrag.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="ebics:AmountValueType">
							<attribute name="isCredit" type="boolean" use="optional">
								<annotation>
									<documentation xml:lang="de">Gutschrift (isCredit = "true") oder Lastschrift (isCredit = "false")?</documentation>
								</annotation>
							</attribute>
							<attribute name="Currency" type="ebics:CurrencyBaseType" use="optional">
								<annotation>
									<documentation xml:lang="de">Währungscode.</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Description" minOccurs="0" maxOccurs="4">
				<annotation>
					<documentation xml:lang="de">Textfeld zur weiteren Beschreibung der Transaktion (Verwendungszweck, Auftragsdetails, Kommentar).</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="Type" use="required">
								<annotation>
									<documentation xml:lang="de">Beschreibungstyp.</documentation>
								</annotation>
								<simpleType>
									<restriction base="token">
										<enumeration value="Purpose">
											<annotation>
												<documentation xml:lang="de">Verwendungszweck</documentation>
											</annotation>
										</enumeration>
										<enumeration value="Details">
											<annotation>
												<documentation xml:lang="de">Auftragsdetails</documentation>
											</annotation>
										</enumeration>
										<enumeration value="Comment">
											<annotation>
												<documentation xml:lang="de">Kommentar</documentation>
											</annotation>
										</enumeration>
									</restriction>
								</simpleType>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVTOrderFlagsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HVT-Auftragsflags.</documentation>
		</annotation>
		<attribute name="completeOrderData" type="boolean" use="optional" default="false">
			<annotation>
				<documentation xml:lang="de">Sollen die Transaktionsdetails als Einzelauftragsinfos (completeOrderData=false) oder als komplette Originaldaten (completeOrderData=true) übertragen werden?</documentation>
				<documentation xml:lang="en">Are the transaction details so be transmitted as particular order content information requested for display matters or in complete order data file form?</documentation>
			</annotation>
		</attribute>
		<attribute name="fetchLimit" use="optional" default="100">
			<annotation>
				<documentation xml:lang="de">Limit für die zu liefernden Transaktionsdetails, bei completeOrderData=false maximale Anzahl zu liefernder Einzelauftragsinfos, 0 für unbegrenzt.</documentation>
				<documentation xml:lang="en">Limit for the transaction details to be transmitted; if completeOrderData=false, maximum number of details of a particular order; 0 for unlimited number of details.</documentation>
			</annotation>
			<simpleType>
				<restriction base="nonNegativeInteger">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="fetchOffset" use="optional" default="0">
			<annotation>
				<documentation xml:lang="de">Offset vom Anfang der Originalauftragsdatei für die zu liefernden Transaktionsdetails, bei completeOrderData=false bezogen auf laufende Nummer des Einzelauftrags.</documentation>
				<documentation xml:lang="en">Offset position in the original order file which marks the starting point for the transaction details to be transmitted; applies to the sequential number of a particular order if completeOrderData=false.</documentation>
			</annotation>
			<simpleType>
				<restriction base="nonNegativeInteger">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>
		</attribute>
		<anyAttribute namespace="##targetNamespace" processContents="strict"/>
	</complexType>
	<complexType name="HVTOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart HVT.</documentation>
			<documentation xml:lang="en">Data type for additional order parameters for order type HVT.</documentation>
		</annotation>
		<sequence>
			<group ref="ebics:HVRequestStructure"/>
			<element name="OrderFlags">
				<annotation>
					<documentation xml:lang="de">spezielle Flags für HVT-Aufträge.</documentation>
					<documentation xml:lang="en">Special order flags for orders of type HVT.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="ebics:HVTOrderFlagsType"/>
					</complexContent>
				</complexType>
			</element>
			<element ref="ebics:Parameter" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Generische Schlüssel-Wert-Parameter</documentation>
					<documentation xml:lang="en">Generic key-value parameters</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVUResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HVU (Antwort: VEU-Übersicht abholen).</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation xml:lang="de"/>
			</annotation>
			<element name="OrderDetails" type="ebics:HVUOrderDetailsType" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Auftragsinformationen.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVUOrderDetailsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HVU-Auftragsdetails.</documentation>
		</annotation>
		<sequence>
			<element name="OrderType" type="ebics:OrderTBaseType">
				<annotation>
					<documentation xml:lang="de">Auftragsart lt. DFÜ-Abkommen des ausgewählten Auftrags.</documentation>
					<documentation xml:lang="en">Type of the order.</documentation>
				</annotation>
			</element>
			<element name="OrderID" type="ebics:OrderIDType">
				<annotation>
					<documentation xml:lang="de">Auftragsnummer lt. DFÜ-Abkommen des ausgewählten Auftrags.</documentation>
				</annotation>
			</element>
			<element name="OrderDataSize" type="positiveInteger">
				<annotation>
					<documentation xml:lang="de">Größe der unkomprimierten Auftragsdaten in Bytes.</documentation>
				</annotation>
			</element>
			<element name="SigningInfo" type="ebics:HVUSigningInfoType">
				<annotation>
					<documentation xml:lang="de">Informationen zu den Unterschriftsmodalitäten.</documentation>
				</annotation>
			</element>
			<element name="SignerInfo" type="ebics:SignerInfoType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Informationen zu den bisherigen Unterzeichnern.</documentation>
				</annotation>
			</element>
			<element name="OriginatorInfo" type="ebics:HVUOriginatorInfoType">
				<annotation>
					<documentation xml:lang="de">Informationen zum Einreicher.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVUOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart HVU.</documentation>
		</annotation>
		<sequence>
			<element name="OrderTypes" type="ebics:OrderTListType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Liste von Auftragsarten, für die zur Unterschrift vorliegende Aufträge abgerufen werden sollen; falls nicht angegeben, werden sämtliche für den Teilnehmer unterschriftsfähigen Aufträge abgerufen.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVZOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart HVZ.</documentation>
		</annotation>
		<sequence>
			<element name="OrderTypes" type="ebics:OrderTListType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Liste von Auftragsarten, für die zur Unterschrift vorliegende Aufträge abgerufen werden sollen; falls nicht angegeben, werden sämtliche für den Teilnehmer unterschriftsfähigen Aufträge abgerufen.</documentation>
					<documentation xml:lang="de">List of order types that the orders ready to be signed by the requesting user should match; if not specified, a list of all orders ready to be signed by the requesting user is returned.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVUSigningInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Informationen zu den HVU-Unterschriftsmodalitäten.</documentation>
		</annotation>
		<attribute name="readyToBeSigned" type="boolean" use="required">
			<annotation>
				<documentation xml:lang="de">Ist der Auftrag unterschriftsreif ("true") oder bereits vom Teilnehmer unterschrieben ("false")?</documentation>
			</annotation>
		</attribute>
		<attribute name="NumSigRequired" type="positiveInteger" use="required">
			<annotation>
				<documentation xml:lang="de">Anzahl der insgesamt zur Freigabe erforderlichen EUs.</documentation>
			</annotation>
		</attribute>
		<attribute name="NumSigDone" type="nonNegativeInteger" use="required">
			<annotation>
				<documentation xml:lang="de">Anzahl der bereits geleisteten EUs.</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="HVUOriginatorInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Informationen zum Ersteller eines HVU-Auftrags.</documentation>
		</annotation>
		<sequence>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID des Einreichers.</documentation>
				</annotation>
			</element>
			<element name="UserID" type="ebics:UserIDType">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID des Einreichers.</documentation>
				</annotation>
			</element>
			<element name="Name" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Name des Einreichers.</documentation>
				</annotation>
			</element>
			<element name="Timestamp" type="ebics:TimestampType">
				<annotation>
					<documentation xml:lang="de">Zeitstempel der Einreichung (d.h. der Übertragung der Auftragsdatei).</documentation>
				</annotation>
			</element>
			<any namespace="##targetNamespace" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVZResponseOrderDataType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Auftragsdaten für Auftragsart HVZ (Antwort: VEU-Übersicht mit Zusatzinformationen abholen).</documentation>
			<documentation xml:lang="en">Order data for order type HVZ (response: receive summary of orders currently stored in the distributed signature processing unit with additional information).</documentation>
		</annotation>
		<sequence>
			<annotation>
				<documentation xml:lang="de"/>
			</annotation>
			<element name="OrderDetails" type="ebics:HVZOrderDetailsType" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Auftragsinformationen.</documentation>
					<documentation xml:lang="en">Summary of order information.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HVZOrderDetailsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für HVZ-Auftragsdetails.</documentation>
		</annotation>
		<sequence>
			<element name="OrderType" type="ebics:OrderTBaseType">
				<annotation>
					<documentation xml:lang="de">Auftragsart lt. DFÜ-Abkommen des ausgewählten Auftrags.</documentation>
					<documentation xml:lang="en">Type of the order.</documentation>
				</annotation>
			</element>
			<element name="OrderID" type="ebics:OrderIDType">
				<annotation>
					<documentation xml:lang="de">Auftragsnummer lt. DFÜ-Abkommen des ausgewählten Auftrags.</documentation>
					<documentation xml:lang="en">ID number of the order.</documentation>
				</annotation>
			</element>
			<element name="DataDigest" type="ebics:DataDigestType">
				<annotation>
					<documentation xml:lang="de">Hashwert der Auftragsdaten.</documentation>
					<documentation xml:lang="en">Hash value of the order data.</documentation>
				</annotation>
			</element>
			<element name="OrderDataAvailable" type="boolean">
				<annotation>
					<documentation xml:lang="de">Kann die Auftragsdatei im Originalformat abgeholt werden? (HVT mit completeOrderData=true).</documentation>
					<documentation xml:lang="en">Can the order file be downloaded in the original format? (HVT with completeOrderData=true)</documentation>
				</annotation>
			</element>
			<element name="OrderDataSize" type="positiveInteger">
				<annotation>
					<documentation xml:lang="de">Größe der unkomprimierten Auftragsdaten in Bytes.</documentation>
					<documentation xml:lang="en">Size of uncompressed order data in Bytes.</documentation>
				</annotation>
			</element>
			<element name="OrderDetailsAvailable" type="boolean">
				<annotation>
					<documentation xml:lang="de">Können die Auftragsdetails als XML-Dokument HVTResponseOrderData abgeholt werden? (HVT mit completeOrderData=false).</documentation>
					<documentation xml:lang="en">Can the order details be downloaded as XML document HVTResponseOrderData?  (HVT with completeOrderData=false)</documentation>
				</annotation>
			</element>
			<group ref="ebics:HVZPaymentOrderDetailsStructure" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Zusätzliche Auftragsdetails nur für Zahlungsaufträge.</documentation>
					<documentation xml:lang="en">Order details related to payment orders only.</documentation>
				</annotation>
			</group>
			<element name="SigningInfo" type="ebics:HVUSigningInfoType">
				<annotation>
					<documentation xml:lang="de">Informationen zu den Unterschriftsmodalitäten.</documentation>
					<documentation xml:lang="en">Information regarding the signing modalities of the order.</documentation>
				</annotation>
			</element>
			<element name="SignerInfo" type="ebics:SignerInfoType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Informationen zu den bisherigen Unterzeichnern.</documentation>
					<documentation xml:lang="en">Information regarding the users who already signed the order.</documentation>
				</annotation>
			</element>
			<element name="OriginatorInfo" type="ebics:HVUOriginatorInfoType">
				<annotation>
					<documentation xml:lang="de">Informationen zum Einreicher.</documentation>
					<documentation xml:lang="en">Information regarding the originator of the order.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<group name="HVZPaymentOrderDetailsStructure">
		<annotation>
			<documentation xml:lang="de">Standard-Requeststruktur für HVx-Aufträge (HVD, HVT, HVE, HVS).</documentation>
			<documentation xml:lang="en">Standard structure for HVZ OrderDetails related to payment orders</documentation>
		</annotation>
		<sequence>
			<element name="TotalOrders" type="nonNegativeInteger" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Anzahl der Zahlungssätze über alle logische Dateien entsprechend Dateianzeige.</documentation>
					<documentation xml:lang="en">Total transaction number for all logical files (from dispay file).</documentation>
				</annotation>
			</element>
			<element name="TotalAmount" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Summe der Beträge über alle logische Dateien entsprechend Dateianzeige.</documentation>
					<documentation xml:lang="en">Total transaction amount for all logical files (from dispay file).</documentation>
				</annotation>
				<simpleType>
					<restriction base="ebics:AmountValueType"/>
				</simpleType>
			</element>
			<element name="Currency" type="ebics:CurrencyBaseType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Auftragswährung (nur bei sortenreinen Zahlungen, sonst keine Angabe).</documentation>
					<documentation xml:lang="en">Order currency (only if identical across all transactions, ship otherwise).</documentation>
				</annotation>
			</element>
			<element name="FirstOrderInfo" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Informationen aus Dateianzeige der ersten logischen Datei.</documentation>
					<documentation xml:lang="en">Order details from display file for first logical file.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="OrderPartyInfo" type="normalizedString" minOccurs="0">
							<annotation>
								<documentation xml:lang="de">Auftraggeber entsprechend Dateianzeige.</documentation>
								<documentation xml:lang="en">Order party information (from display file).</documentation>
							</annotation>
						</element>
						<element name="AccountInfo" minOccurs="0">
							<annotation>
								<documentation xml:lang="de">Erstes Auftraggeberkonto entsprechend Dateianzeige.</documentation>
								<documentation xml:lang="en">First order party account (from display file).</documentation>
							</annotation>
							<complexType>
								<sequence>
									<choice maxOccurs="2">
										<element name="AccountNumber">
											<annotation>
												<documentation xml:lang="de">Kontonummer (deutsches Format oder international als IBAN).</documentation>
												<documentation xml:lang="en">Account number (German format or international as IBAN).</documentation>
											</annotation>
											<complexType>
												<simpleContent>
													<extension base="ebics:AccountNumberType">
														<attribute name="international" type="boolean" use="optional" default="false">
															<annotation>
																<documentation xml:lang="de">Ist die Kontonummer im deutschen Format (international=false) oder im internationalen Format (international=true, IBAN) angegeben?</documentation>
																<documentation xml:lang="en">Account number given in German format (international=false) or in international format (international=true, IBAN)?</documentation>
															</annotation>
														</attribute>
													</extension>
												</simpleContent>
											</complexType>
										</element>
										<element name="NationalAccountNumber">
											<annotation>
												<documentation xml:lang="de">Kontonummer im freien Format.</documentation>
												<documentation xml:lang="en">Account number in free format.</documentation>
											</annotation>
											<complexType>
												<simpleContent>
													<extension base="ebics:NationalAccountNumberType">
														<attribute name="format" type="token" use="required">
															<annotation>
																<documentation xml:lang="de">Formatkennung.</documentation>
																<documentation xml:lang="en">Format type.</documentation>
															</annotation>
														</attribute>
													</extension>
												</simpleContent>
											</complexType>
										</element>
									</choice>
									<choice maxOccurs="2">
										<element name="BankCode">
											<annotation>
												<documentation xml:lang="de">Bankleitzahl (deutsches Format oder international als SWIFT-BIC).</documentation>
												<documentation xml:lang="en">Bank sort code (German format or international as SWIFT-BIC).</documentation>
											</annotation>
											<complexType>
												<simpleContent>
													<extension base="ebics:BankCodeType">
														<attribute name="international" type="boolean" use="optional" default="false">
															<annotation>
																<documentation xml:lang="de">Ist die Bankleitzahl im deutschen Format (international=false, BLZ) oder im internationalen Format (international=true, SWIFT-BIC) angegeben?</documentation>
																<documentation xml:lang="en">Bank sort code given in German format (international=false) or in international format (international=true, SWIFT-BIC)?</documentation>
															</annotation>
														</attribute>
														<attribute name="Prefix" type="ebics:BankCodePrefixType" use="optional">
															<annotation>
																<documentation xml:lang="de">nationales Präfix für Bankleitzahlen.</documentation>
																<documentation xml:lang="en">National prefix for bank sort code.</documentation>
															</annotation>
														</attribute>
													</extension>
												</simpleContent>
											</complexType>
										</element>
										<element name="NationalBankCode">
											<annotation>
												<documentation xml:lang="de">Bankleitzahl im freien Format.</documentation>
												<documentation xml:lang="en">Bank sort code in free format.</documentation>
											</annotation>
											<complexType>
												<simpleContent>
													<extension base="ebics:NationalBankCodeType">
														<attribute name="format" type="token" use="required">
															<annotation>
																<documentation xml:lang="de">Formatkennung.</documentation>
																<documentation xml:lang="en">Format type.</documentation>
															</annotation>
														</attribute>
													</extension>
												</simpleContent>
											</complexType>
										</element>
									</choice>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</group>
	<complexType name="SignerInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für Informationen zu einem Unterzeichner eines VEU-Auftrags (HVU, HVD).</documentation>
		</annotation>
		<sequence>
			<element name="PartnerID" type="ebics:PartnerIDType">
				<annotation>
					<documentation xml:lang="de">Kunden-ID des Unterzeichners.</documentation>
				</annotation>
			</element>
			<element name="UserID" type="ebics:UserIDType">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID des Unterzeichners.</documentation>
				</annotation>
			</element>
			<element name="Name" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Name des Unterzeichners.</documentation>
				</annotation>
			</element>
			<element name="Timestamp" type="ebics:TimestampType">
				<annotation>
					<documentation xml:lang="de">Zeitstempel der Unterzeichnung (d.h. der Übertragung der Unterschrift).</documentation>
				</annotation>
			</element>
			<element name="Permission">
				<annotation>
					<documentation xml:lang="de">zusätzliche Informationen zu den Berechtigungen des Teilnehmers, der unterzeichnet hat.</documentation>
				</annotation>
				<complexType>
					<attributeGroup ref="ebics:SignerPermission"/>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="UserPermissionType">
		<annotation>
			<documentation xml:lang="de">Datentyp für VEU-Berechtigungsinformationen des Teilnehmers (HKD, HTD).</documentation>
		</annotation>
		<sequence>
			<element name="OrderTypes" type="ebics:OrderTListType">
				<annotation>
					<documentation xml:lang="de">Liste von Auftragsarten, für die die Berechtigung des Teilnehmers gültig ist.</documentation>
					<documentation xml:lang="en">List of order types which the user's permission belongs to.</documentation>
				</annotation>
			</element>
			<element name="AccountID" type="ebics:AccountIDType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Verweis auf den Identifikationscode des berechtigten Kontos.</documentation>
					<documentation xml:lang="en">Identification codes of the affected accounts.</documentation>
				</annotation>
			</element>
			<element name="MaxAmount" type="ebics:AmountType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Betragshöchstgrenze, bis zu der die Berechtigung des Teilnehmers gültig ist.</documentation>
					<documentation xml:lang="en">Maximum total amount which the user's permission is valid for.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="AuthorisationLevel" type="ebics:AuthorisationLevelType">
			<annotation>
				<documentation xml:lang="de">Unterschriftsklasse, für die der Teilnehmer berechtigt ist; nicht anzugeben bei Download-Auftragsarten.</documentation>
				<documentation xml:lang="en">Authorization level of the user who signed the order; to be omitted for orders of type "download".</documentation>
			</annotation>
		</attribute>
		<anyAttribute namespace="##targetNamespace" processContents="strict"/>
	</complexType>
	<complexType name="PartnerInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für VEU-Partnerdaten (HKD, HTD).</documentation>
			<documentation xml:lang="en">Data type for customer data with regard to distributed signatures (order types HKD, HTD).</documentation>
		</annotation>
		<sequence>
			<element name="AddressInfo" type="ebics:AddressInfoType">
				<annotation>
					<documentation xml:lang="de">Informationen zur Adresse des Kunden.</documentation>
					<documentation xml:lang="en">Information about the customer's adress.</documentation>
				</annotation>
			</element>
			<element name="BankInfo" type="ebics:BankInfoType">
				<annotation>
					<documentation xml:lang="de">Informationen zur Kreditinstitutsanbindung des Kunden.</documentation>
					<documentation xml:lang="en">Information about the customer's banking access paramters.</documentation>
				</annotation>
			</element>
			<element name="AccountInfo" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Informationen zu den Konten des Kunden.</documentation>
					<documentation xml:lang="en">Information about the customer's accounts.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="ebics:AccountType">
							<sequence>
								<element name="UsageOrderTypes" type="ebics:OrderTListType" minOccurs="0">
									<annotation>
										<documentation xml:lang="de">Liste der Auftragsartenbeschränkungen; falls nicht angegeben, gibt es keine Auftragsartenbeschränkungen; falls Liste leer, ist das Konto für keine Auftragsart freigegeben.</documentation>
										<documentation xml:lang="en">List containing the order types which contain this account is restricted to; if omitted, the account is unrestricted; if the list is empty the account is blocked for any order type.</documentation>
									</annotation>
								</element>
								<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
							</sequence>
							<attribute name="ID" type="ebics:AccountIDType" use="required">
								<annotation>
									<documentation xml:lang="de">Identifikationscode des Kontos.</documentation>
								</annotation>
							</attribute>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="OrderInfo" type="ebics:AuthOrderInfoType" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Informationen zu den Auftragsarten, für die der Kunde berechtigt ist.</documentation>
					<documentation xml:lang="en">Information about order types which the customer is authorised to use.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AddressInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für VEU-Adressinformationen (HKD, HTD).</documentation>
			<documentation xml:lang="en">Data type for address information with regard to distributed signature (order types HKD, HTD).</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Name des Kunden.</documentation>
					<documentation xml:lang="en">Customer's name.</documentation>
				</annotation>
			</element>
			<element name="Street" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Straße und Hausnummer.</documentation>
					<documentation xml:lang="en">Street and house number.</documentation>
				</annotation>
			</element>
			<element name="PostCode" type="token" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Postleitzahl.</documentation>
					<documentation xml:lang="en">Postal code.</documentation>
				</annotation>
			</element>
			<element name="City" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Stadt.</documentation>
					<documentation xml:lang="en">City.</documentation>
				</annotation>
			</element>
			<element name="Region" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Region / Bundesland / Bundesstaat.</documentation>
					<documentation xml:lang="en">Region / province / federal state.</documentation>
				</annotation>
			</element>
			<element name="Country" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Land.</documentation>
					<documentation xml:lang="en">Country.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="BankInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für VEU-Kreditinstitutsinformationen (HKD, HTD).</documentation>
		</annotation>
		<sequence>
			<element name="HostID" type="ebics:HostIDType">
				<annotation>
					<documentation xml:lang="de">Banksystem-ID.</documentation>
				</annotation>
			</element>
			<element ref="ebics:Parameter" minOccurs="0" maxOccurs="unbounded"/>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="UserInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für VEU-Teilnehmerinformationen (HKD, HTD).</documentation>
		</annotation>
		<sequence>
			<element name="UserID">
				<annotation>
					<documentation xml:lang="de">Teilnehmer-ID.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="ebics:UserIDType">
							<attribute name="Status" type="ebics:UserStatusType" use="required">
								<annotation>
									<documentation xml:lang="de">Status des Teilnehmers.</documentation>
								</annotation>
							</attribute>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Name" type="ebics:NameType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Name des Teilnehmers.</documentation>
				</annotation>
			</element>
			<element name="Permission" type="ebics:UserPermissionType" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="de">Informationen zu den Berechtigungen des Teilnehmers.</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AuthOrderInfoType">
		<annotation>
			<documentation xml:lang="de">Datentyp für VEU-Berechtigungsinformationen zu Auftragsarten (HKD, HTD).</documentation>
			<documentation xml:lang="en">Data type for user permissions with regard to distributed signatures (order types HKD, HTD).</documentation>
		</annotation>
		<sequence>
			<element name="OrderType" type="ebics:OrderTBaseType">
				<annotation>
					<documentation xml:lang="de">Auftragsart.</documentation>
				</annotation>
			</element>
			<element name="TransferType" type="ebics:TransferType">
				<annotation>
					<documentation xml:lang="de">Transfertyp (Upload/Download).</documentation>
				</annotation>
			</element>
			<element name="OrderFormat" type="ebics:OrderFormatType" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Auftragsformat (z.B. DTAZV).</documentation>
				</annotation>
			</element>
			<element name="Description" type="ebics:OrderDescriptionType">
				<annotation>
					<documentation xml:lang="de">Beschreibung der Auftragsart.</documentation>
				</annotation>
			</element>
			<element name="NumSigRequired" type="nonNegativeInteger" default="0" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Anzahl erforderlicher EUs (Default=0).</documentation>
				</annotation>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="StandardOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter bei Standard-Auftragsarten.</documentation>
		</annotation>
		<sequence>
			<element name="DateRange" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Datumsbereich (von-bis).</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="Start" type="ebics:DateType">
							<annotation>
								<documentation xml:lang="de">Startdatum (inkl.).</documentation>
							</annotation>
						</element>
						<element name="End" type="ebics:DateType">
							<annotation>
								<documentation xml:lang="de">Enddatum (inkl.).</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="GenericOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für beliebige Auftragsarten.</documentation>
		</annotation>
		<sequence>
			<element ref="ebics:Parameter" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="FULOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart FUL.</documentation>
		</annotation>
		<sequence>
			<element ref="ebics:Parameter" minOccurs="0" maxOccurs="unbounded"/>
			<element name="FileFormat" type="ebics:FileFormatType">
				<annotation>
					<documentation xml:lang="de">Bezeichnung des Dateiformats</documentation>
					<documentation xml:lang="en">Name of data format</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FDLOrderParamsType">
		<annotation>
			<documentation xml:lang="de">Datentyp für zusätzliche Auftragsparameter für Auftragsart FDL.</documentation>
		</annotation>
		<sequence>
			<element name="DateRange" minOccurs="0">
				<annotation>
					<documentation xml:lang="de">Datumsbereich (von-bis).</documentation>
					<documentation xml:lang="en">Range of date (from-to).</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="Start" type="ebics:DateType">
							<annotation>
								<documentation xml:lang="de">Startdatum (inkl.).</documentation>
							</annotation>
						</element>
						<element name="End" type="ebics:DateType">
							<annotation>
								<documentation xml:lang="de">Enddatum (inkl.).</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element ref="ebics:Parameter" minOccurs="0" maxOccurs="unbounded"/>
			<element name="FileFormat" type="ebics:FileFormatType">
				<annotation>
					<documentation xml:lang="de">Bezeichnung des Dateiformats</documentation>
					<documentation xml:lang="en">Name of data format</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<attributeGroup name="VersionAttrGroup">
		<annotation>
			<documentation xml:lang="de">Attribute zur EBICS-Protokollversion und -revision.</documentation>
			<documentation xml:lang="en">Attributes regarding the protocol version and revision of EBICS.</documentation>
		</annotation>
		<attribute name="Version" type="ebics:ProtocolVersionType" use="required">
			<annotation>
				<documentation xml:lang="de">Version des EBICS-Protokolls (z.B. "H003").</documentation>
				<documentation xml:lang="en">Version of the EBICS protocol (e.g. "H003").</documentation>
			</annotation>
		</attribute>
		<attribute name="Revision" type="ebics:ProtocolRevisionType" use="optional">
			<annotation>
				<documentation xml:lang="de">Revision des EBICS-Protokolls (z.B. 1).</documentation>
				<documentation xml:lang="en">Revision of the EBICS protocol (e.g. 1).</documentation>
			</annotation>
		</attribute>
	</attributeGroup>
</schema>
